/* CSS declarations go here */

* {
    margin: 0;
    padding: 0;
}
.navbar-default {
    background: none;
    border: none;
}

body.home {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/life.jpeg");
    background-position: center;
    height: 90vh;
    background-size: cover;
    display: block;
    margin-top: 0px;
}

body.companies {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/life.jpeg");
    background-position: center;
    height: 90vh;
    background-size: cover;
    display: block;
    margin-top: 0px;
}
body.about {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/sun_set.jpeg");
    background-position: center;
    height: 90vh;
    background-size: cover;
    display: block;
    margin-top: 0px;
}
body.contact {
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/technology.png");
    background-position: center;
    height: 90vh;
    background-size: cover;
    display: block;
    margin-top: 0px;
}


.main-nav {
    float: right;
    list-style: none;
    margin-top: 15px;
}
.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.main-nav li.active a {
    border: 1px solid white;
}

.main-nav li a:hover {
    border: 1px solid white;
}

.logo img {
    width: 70px;
    height: auto;
    float: left;
}

body {
    font-family: monospace;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.mission_statement {
    position: fixed;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
}


h1 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    margin-top: 200px;

}

.bar {
    text-align: center;
}

.search-box-wrapper {
    display: inline-flex;
    font-size: 20px;
}
.search-box-input {
    font-size: inherit;
    border: 0.2em solid #439BD5;
    border-radius: 0.5em 0 0 0.5em;
    padding: 0.2em 0.3em;
    width: 500px;
}
.search-box-button {
    font-size: inherit;
    border: 0.2em solid #439BD5;
    border-radius: 0 0.5em 0.5em 0;
    background-color: #439BD5;
    border-left: 0;
    padding: 0 0.5em;
    color: white;
    font-weight: bold;
}



/* Hovering stars */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}
.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
    color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}




/* Underneath is rating 2*/
.rating2 {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 50px;
}
.rating2 label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating2 label:last-child {
    position: static;
}

.rating2 label:nth-child(1) {
    z-index: 5;
}

.rating2 label:nth-child(2) {
    z-index: 4;
}

.rating2 label:nth-child(3) {
    z-index: 3;
}

.rating2 label:nth-child(4) {
    z-index: 2;
}

.rating2 label:nth-child(5) {
    z-index: 1;
}

.rating2 label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating2 label .icon {
    float: left;
    color: transparent;
}

.rating2 label:last-child .icon {
    color: #000;
}

.rating2:not(:hover) label input:checked ~ .icon,
.rating2:hover label:hover input ~ .icon {
    color: #09f;
}

.rating2 label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}



x-star-rating {
    font-family: 'Ionicons';
    font-size: 36px;
    display: inline-flex;
    cursor: pointer;
}

x-star-rating > .star::after {
    content: '\f3ae';
    color: #777;
}

x-star-rating > .star.full::after {
    content: '\f2fc';
    color: #fd0;
}