[Unit]
Description=The Vize Meteor app
After=network.target

[Service]
Environment=MONGO_URL='mongodb://localhost/vize'
Environment=ROOT_URL='http://localhost'
Environment=PGHOST=localhost
Environment=PGPORT=5432
Environment=PGUSER=meteor
Environment=PGPASSWORD=test123
Environment=PGDATABASE=vize
Environment=PORT=3000
Type=simple
User=meteor
ExecStart=/usr/bin/node /opt/meteor-app/bundle/main.js
Restart=always

[Install]
WantedBy=multi-user.target