$button-diameter: 70px;

.voteButtons {
	> :first-child {
		// Have some space between the buttons.
		margin-bottom: 20px;
	}

	.upButton,
	.downButton {
		height: $button-diameter;
		width: $button-diameter;
		border-radius: ($button-diameter / 2);
		border: 0.833333px solid rgb(204, 204, 204);
		background-color: white;
		display: block;

		// Style the emoji thumbs in the buttons.
		font-size: 29px;
		text-align: center;
		vertical-align: middle;
	}

	.upButton:hover {
		border-color: green;
	}
	.downButton:hover {
		border-color: red;
	}

	&[data-vote="up"] .upButton {
		background-color: green;
	}
	&[data-vote="down"] .downButton {
		background-color: red;
	}
}
