.flagTitle {
	color: #439bd5;
	font-weight: 1000;
	margin: 10px;
}
#selectID {
	width: 150px;
}
.reason,
.descrBox {
	margin: 10px;
	color: black;
}
.doneButton {
	margin: 10px;
}
.textArea {
	width: 350px;
	height: 50px;
	color: blue;
}
