.flagTitle {
	color: #439bd5;
	font-weight: 500;
	margin: 3px;
}
.linePadding {
	margin-top: 1px;
	color: blue;
}
#selectID {
	width: 150px;
}
.reason {
	margin-top: -10px;
	margin-left: 5px;
	margin-right: 5px;
	color: red;
}
.doneButton {
	margin: 10px;
}
.buttonSlide {
	float: right;
	margin-right: 5px;
	margin-top: 7px;
}
.textArea {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 8px;
}
