@media (max-width: 1200px) {
	.banner-text-info {
		width: 68%;
		margin: 13em auto 0;
	}

	.banner-text {
		h2 {
			font-size: 2.3em;
		}

		h3 {
			letter-spacing: 1px;
		}
	}

	.banner,
	.banner-info {
		min-height: 500px;
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 220px;
	}

	.static-page-banner .banner-text {
		padding-top: 9em;
	}

	.logo h1 {
		font-size: 3em;
	}

	ul.nav.navbar-right {
		margin-top: 0;
	}
}
