@media (max-width: 1024px) {
	.top-nav ul li a {
		font-size: 1.1em;
	}

	ul.dropdown-menu li a {
		font-size: 1em;
	}

	.banner,
	.banner-info {
		min-height: 600px;
	}

	.full-width-container,
	.services,
	.footer,
	.about,
	.team,
	.contact,
	.gallery {
		padding: 6em 0;
	}

	.full-width-container {
		&-text {
		}

		&-info {
			margin-top: 1.2em;
		}
	}
}
