@media (max-width: 1080px) {
	.top-nav ul li {
		margin: 0 0.2em;
	}

	@media screen and (min-width: 768px) {
		.banner {
			min-height: 660px;

			&-text {
				h2 {
					font-size: 2.8em;
				}

				&-info {
					width: 61%;
					min-height: 660px;
				}

				h3 {
					font-size: 1.3em;
				}
			}
		}
	}

	.full-width-container,
	.services,
	.footer,
	.about,
	.team,
	.contact,
	.gallery {
		padding: 7em 0;
	}

	.full-width-container {
		&-right {
			padding: 0;
		}
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 270px;
	}
}
