@media (max-width: 1240px) {
	.banner {
		min-height: 75vh;

		&-info {
			min-height: 75vh;
		}

		&-text-info {
			margin: 10em auto 0;
		}
	}

	.full-width-container,
	.services,
	.footer,
	.about,
	.team,
	.contact,
	.gallery {
		padding: 4em 0;
	}

	.servc {
		&-grids {
			margin-top: 0;
		}

		&-grid {
			float: none;
			width: 100%;
			padding: 0;
			margin-top: 2em;

			&:nth-child(2) {
				padding: 0;
			}

			&-left {
				text-align: center;

				span {
					font-size: 1.3em;
				}
			}
		}
	}

	.footer-grids {
		float: none;
		width: 100%;
		padding: 0;

		&:nth-child(1) {
			padding: 0;
		}

		&:nth-child(2) {
			margin: 1em 0;
		}
	}

	.footer {
		&-bottom {
			a {
				margin: 0 0.5em;
			}

			span {
				left: -20px;
				right: -20px;
				font-size: 0.9em;

				&:before {
					left: 33px;
				}
			}
		}
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 190px;
	}

	.team-grids {
		margin: 1.5em 0 0;
	}
}
