@media (max-width: 1291px) {
	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 11px;
	}

	.banner-text-info {
		margin: 11em auto 0;
	}

	.full-width-container {
		&-left {
			float: left;
			width: 40%;
			padding: 0;
		}

		&-right {
			float: right;
			width: 55%;
		}
	}

	p {
		font-size: 1em;
	}

	.full-width-container {
		&-text {
			float: left;
		}

		span.glyphicon {
			font-size: 1em;
			padding: 0.8em;
		}

		h4 {
			font-size: 1.3em;
		}
	}

	.footer {
		&-grids {
			float: left;
			width: 33.33%;
			padding: 0 0.5em;

			&:nth-child(1) {
				padding: 0 1em 0 0;
			}
		}

		img {
			padding: 0;
			width: 100%;
		}
	}

	.pf.dropdown {
		ul.dropdown-menu {
			&:before,
			&:after {
				display: none;
			}
		}
	}

	.navbar-header {
		float: none;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
		background-color: #439bd5;
		border: 1px solid $white;
		margin-top: 15px;

		.icon-bar {
			background: $white;
		}
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;

		& > li {
			float: none;

			& > a {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	.collapse.in {
		display: block !important;
	}

	nav.header_main {
		background: #132437;
	}

	.top-nav ul li a {
		color: $white !important;
		&:hover {
			color: $white !important;
		}
	}

	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}

	.btn-green {
		background-color: #fb406f !important;
	}

	#register-button {
		width: 100%;
		display: none;
	}

	a.navbar-link.margin-right {
		display: none;
	}

	span#lanNavEng {
		color: #252121 !important;
	}

	span#lanNavIta {
		color: #252121 !important;
	}

	ul.nav.navbar-right {
		margin-bottom: 95px;
	}

	.show-on-hover-pf:hover > ul.dropdown-menu {
		background-color: $white !important;
		color: #000000;
	}

	.pf.dropdown {
		background-color: transparent !important;
		border-radius: 4px !important;
		width: 38% !important;
		margin-bottom: 70px;
		color: #000000;
	}

	.pf.dropdown ul.dropdown-menu {
		margin-top: -5px;

		li {
			a:hover {
				background-color: !important;
			}
		}

		& > li > a {
			color: #272829 !important;
		}
	}

	.navbar-right .dropdown-menu {
		min-width: 50% !important;
	}
}

@media only screen and (min-width: 426px) and (max-width: 1291) {
	.banner-text-info {
		margin: 14em 0 !important;
	}
}
