@media (max-width: 320px) {
	.alert,
	p {
		font-size: 13px;
	}

	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}

	.logo h1 {
		font-size: 2.5em;
	}

	button.navbar-toggle {
		margin: 0;
	}

	.banner {
		min-height: 325px;
		&-text {
			h2 {
				font-size: 1.2em;
			}
			&-info {
				width: 93%;
				min-height: 325px;
				margin: 8em auto 0;
			}
		}
	}

	.full-width-container h4 {
		font-size: 1.1em;
		margin-top: 0.5em;
	}

	h3.title {
		font-size: 2.2em;
	}

	.footer a.footer-img {
		width: 27%;
	}

	nav.navScroll ul li a {
		color: $white !important;
	}
}
