@media (max-width: 375px) {
	.banner-text {
		h2 {
			font-size: 1.3em;
		}

		h3 {
			letter-spacing: 0px;
		}
	}

	.view {
		margin: 0.5em 2em;
	}

	.banner {
		min-height: 350px;

		&-info {
			min-height: 350px;
		}

		&-text-info {
			margin: 9em auto 0;
		}
	}

	.more {
		margin-top: 0.8em;
	}

	.full-width-container-text.wtext-right {
		width: 82%;
	}

	.tabs-left {
		margin-bottom: 1.5em;
	}

	.servc-grid {
		margin-top: 1.5em;

		&-left {
			text-align: left;
		}
	}

	.slid {
		padding: 2em 0;

		&-row {
			margin-top: 1em;
		}
	}

	.full-width-container,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 2em 0;
	}

	.about {
		&-imgs {
			padding: 0;
			float: left;
			width: 100%;
			margin-top: 0.3em;
		}

		h4 {
			font-size: 1.3em;
		}
	}

	.pince {
		&-left {
			width: 15%;
		}

		&-right {
			width: 79%;
		}
	}

	.testimonials {
		padding: 2em 0 5em;
	}

	.banner {
		&.static-page-banner {
			min-height: 151px;

			.banner-info {
				min-height: 151px;
			}
		}
	}

	.blog h4 {
		font-size: 1.5em;
	}

	.slid-grids {
		width: 65%;
		margin: 1em auto 0;
		float: none;
	}
}
