@media (max-width: 480px) {
	.label {
		font-size: 53%;
	}

	.alert,
	p {
		font-size: 14px;
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 165px;
	}

	.static-page-banner .banner-text {
		padding-top: 7em;
	}

	.banner {
		min-height: 400px;

		&-info {
			min-height: 400px;
		}

		&-text {
			h2 {
				font-size: 1.6em;
			}

			&-info {
				width: 81%;
			}
		}
	}

	.welcome,
	.services,
	.footer,
	.about,
	.team,
	.contact,
	.gallery {
		padding: 3em 0;
	}

	p {
		line-height: 1.8em;
	}

	.single-page-left {
		padding: 0;
	}

	.coment-form {
		input[type="text"] {
			width: 100%;

			&:nth-child(1) {
				margin-right: 0;
			}
		}
	}
}
