@media (max-width: 640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.progress {
		height: 10px;
		margin-bottom: 10px;
	}

	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}

	.breadcrumb {
		margin-bottom: 10px;
	}

	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}

	h2.typoh2 {
		font-size: 1.5em;
	}

	.grid_4 {
		margin-top: 30px;
	}
}
