@media (max-width: 640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.progress {
		height: 10px;
		margin-bottom: 10px;
	}

	h2.typoh2 {
		font-size: 1.5em;
	}
}
