@media (max-width: 900px) {
	.banner-text {
		h2 {
			font-size: 2.4em;
		}

		h3 {
			font-size: 1.2em;
		}
	}

	.banner-text-info {
		width: 64%;
	}

	.banner,
	.banner-info {
		min-height: 525px;
	}

	.banner-text-info {
		margin: 14em auto 0;
	}

	.welcome,
	.services,
	.footer,
	.about,
	.team,
	.contact,
	.gallery {
		padding: 5em 0;
	}

	.static-page-banner .banner-text {
		padding-top: 10em;
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 240px;
	}
}
