@include for-size(desktop-and-down) {
	.navbar-header {
		float: none;
	}

	#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.82);
	}

	.navbar-toggle {
		display: block;
		background-color: #439bd5;
		border: 1px solid white;

		.icon-bar {
			background: white;
		}
	}

	button.navbar-toggle {
		margin-top: 1.3em;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

		&.collapse {
			display: none !important;
		}
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;

		& > li {
			float: none;

			& > a {
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
	}

	.collapse.in {
		display: block !important;
	}

	.top-nav ul li {
		display: block;
		margin: 0.5em 0;
		a {
			letter-spacing: 0;
			padding: 10px 11px;
			color: white !important;
			font-weight: bold;
			font-size: 17px;
			&:hover {
				color: white !important;
			}
		}
	}

	a.navbar-link.margin-right {
		display: none;
	}

	.navbar-right .dropdown-menu {
		min-width: 50% !important;
		position: relative;
		text-align: center;
	}

	.navbar-right {
		float: none !important;
	}

	ul.nav.navbar-right {
		margin-right: -43px;
		margin-bottom: 95px;
		text-align: center;
		margin-top: 0;
	}

	.navbar-header.logo {
		margin-top: 0px !important;
		background-color: #132437 !important;
	}

	nav {
		padding: 0em 0em !important;

		&.navbar-right {
			width: 60%;
			margin-left: 0px;
		}
	}

	div#bs-example-navbar-collapse-1 {
		background: #132437;
		float: left;
		width: 100%;
		padding: 0;

		ul.nav.navbar-right {
			display: block;
		}
	}

	ul.nav.navbar-nav.left_nav {
		margin-left: 0px !important;
	}

	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 35px !important;
		text-align: center;
	}

	a.toggle-only-display {
		display: block !important;
	}

	.navigation-only-display {
		display: none !important;
	}

	.navbar-right {
		margin: 40px 0 !important;
		width: 100% !important;
		a {
			text-align: center;
		}
	}

	.dropdown .dropdown {
		border: 1px solid white;
		border-radius: 4px;
		&__trigger {
			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-left: 8px solid transparent;
				border-right: 8px solid transparent;
				border-top: 8px solid #fff;
				right: 10px;
				top: 28px;
			}
		}
	}

	.banner-text {
		h2 {
			font-size: 2.3em;
		}

		h3 {
			letter-spacing: 1px;
		}
		padding: 10em 0 0;
	}

	.static-page-banner .banner-text {
		padding-top: 9em;
	}

	ul.dropdown-menu li a {
		font-size: 1em;
	}

	.services,
	.about,
	.team,
	.contact {
		padding: 4em 0;
	}

	.banner-text-info {
		width: 70%;
	}

	.full-width-container {
		padding: 6em 0;
		&-left {
			float: left;
			width: 40%;
			padding: 0;
		}

		&-right {
			float: right;
			width: 55%;
		}

		&-text {
			float: left;
		}

		span.glyphicon {
			font-size: 1em;
			padding: 0.8em;
		}

		h4 {
			font-size: 1.3em;
		}
	}

	.show-on-hover-pf:hover > ul.dropdown-menu {
		background-color: white !important;
		color: #000000;
	}

	ul.dropdown-menu {
		background-color: white !important;
		margin-left: -17px;
	}

	.pf.dropdown {
		background-color: transparent !important;
		border-radius: 4px !important;
		width: 38% !important;
		margin-bottom: 70px;
		color: #000000;
		margin-left: -55px;
		width: 72% !important;

		ul.dropdown-menu {
			margin-left: 38px;
			margin-top: -5px;
			&:before,
			&:after {
				display: none;
			}
		}
		& > li > a {
			color: #272829 !important;
		}
	}

	.dp-profile {
		margin: 0 auto !important;
	}

	.btn-green {
		background-color: #fb406f !important;
	}

	#register-button {
		width: 100%;
		display: none;
	}

	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;
		box-shadow: 1px 1px 10px 1px;
	}

	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	.panel-card {
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}

	.great-job-hm {
		margin-top: 42px !important;
	}

	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}

	#home.banner {
		min-height: 50vh;
		padding-bottom: 20px;
	}

	.mobile-view {
		display: none;
	}

	&.form-page {
		padding-top: 149px !important;
		width: 70%;
		.form-container {
			width: 85%;
		}
	}

	.mobile-view {
		display: none;
	}
}
