@media screen and (max-width: 780px) and (min-width: 320px) {
	.alisetright img {
		width: 100% !important;
	}

	.container1 {
		padding-left: 2em !important;
		padding-right: 1em !important;
	}

	.aliset {
		width: auto !important;
	}

	form.example button {
		width: 58% !important;
		margin-top: 9px;
	}

	.welpadgo {
		padding-top: 3em !important;
	}

	.row.all_boxcolor1.select_box {
		padding-top: 3em !important;
	}

	nav.navScroll ul li a {
		color: $white !important;
	}
}

@media screen and (max-width: 500px) and (min-width: 300px) {
	.panel-hm {
		width: 95%;
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}
}

@media screen and (max-width: 359px) and (min-width: 290px) {
	.form-companies-search {
		margin-bottom: 27px;
	}

	.dp-profile {
		margin: 0 auto !important;
	}

	.top-nav ul li a {
		color: $white !important;
	}

	.great-job-hm {
		margin-top: 30px !important;
	}

	.companies-btn {
		margin-top: 25px !important;
		margin-bottom: 40px !important;
	}

	a.button.out-bodr-get {
		font-size: 15px !important;
	}

	form.example {
		margin-bottom: 21px;
	}

	.navbar-header.logo {
		margin-top: 0px !important;
		background-color: #132437 !important;
	}

	a#navEng,
	a#navIta {
		color: $white !important;
		&:hover {
			color: $white !important;
		}
	}

	nav {
		padding: 0em 0em !important;

		&.navScroll {
			background-color: transparent !important;
			box-shadow: transparent !important;
		}
	}

	ul.nav.navbar-right {
		width: 71%;
		margin-left: 39px;
	}

	.btn-green {
		background-color: #fb406f !important;
	}

	nav.navScroll ul li a {
		color: $white !important;
	}

	ul.dropdown-menu.header_drop_language li:hover {
		background: #132437;
	}

	#register-button {
		width: 100%;
		display: none;
	}

	button.navbar-toggle {
		margin-top: 1.3em;
	}

	form.example {
		input[type="text"] {
			align-items: center !important;
			margin-left: 43px;
		}

		button {
			margin-left: 67px;
			margin-top: 6px;
		}
	}

	.replus {
		margin-top: 0px;
		margin-left: 0px;
	}

	.select_widthbox li a {
		color: #000 !important;
	}

	div#bs-example-navbar-collapse-1 {
		background: #132437;
		float: left;
		width: 77%;
		padding: 0;
	}

	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}

	a.navbar-link.margin-right {
		display: none;
	}

	ul.nav.navbar-nav.left_nav {
		margin-left: 0px !important;
	}

	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 35px !important;
	}

	hr.hr_line_width2 {
		width: 64%;
		display: block !important;
		border-top: 0px dotted #132437 !important;
		margin-top: 1px;
		margin-bottom: 39px;
		margin-left: -8px;
	}

	.moun {
		margin-top: 0px;
	}

	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}

	.btn_add_button {
		margin-bottom: 9px;
	}

	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;
		font-size: 15px;
		box-shadow: 1px 1px 10px 1px;
	}

	.container.fom-job {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.fom-siz-post {
		width: 100%;
	}

	.container.salary_section {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}

	.main_row_width {
		padding-top: 1px !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
	}

	li.ln {
		display: none !important;
	}

	ul.dropdown-menu.pf {
		margin-left: 38px;
	}

	.pf.dropdown {
		margin-left: -35px;

		&-menu {
			background-color: $white !important;
			margin-left: -15px;

			&:before,
			&:after {
				display: none;
			}

			& > li > a {
				margin-left: 0px;
			}
		}
	}

	a.dropdown-toggle.boderbtn {
		margin-left: -6px;
	}

	ul.dropdown-menu.header_drop_language {
		background-color: $white !important;
		margin-left: -15px;
	}
}

@media screen and (max-width: 1267px) and (min-width: 320px) {
	ul.dropdown-menu {
		background-color: $white !important;
		margin-left: -17px;

		&.header_drop_language {
			background-color: $white !important;
			margin-left: -17px;
		}
	}

	a.dropdown-toggle.boderbtn {
		margin-left: -18px;
	}

	.pf.dropdown {
		margin-left: -55px;
		width: 72% !important;

		ul.dropdown-menu {
			margin-left: 38px;
			&:before,
			&:after {
				display: none;
			}
		}
	}

	.form-companies-search {
		margin-bottom: 27px;
	}

	.dp-profile {
		margin: 0 auto !important;
	}

	li.ln {
		display: none !important;
	}

	.col-md-12.main_row_width {
		padding-top: 1px !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
	}

	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}

	.salary_section {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.fom-job {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.fom-siz-post {
		width: 100%;
	}

	.navbar-header.logo {
		margin-top: 0px !important;
		background-color: #132437 !important;
	}

	a#navEng,
	a#navIta {
		color: $white !important;
		&:hover {
			color: $white !important;
		}
	}

	nav {
		padding: 0em 0em !important;

		&.navScroll {
			background-color: transparent !important;
			box-shadow: transparent !important;

			ul li a {
				color: $white !important;
			}
		}

		&.navbar-right {
			width: 60%;
			margin-left: 0px;
		}
	}

	.btn-green {
		background-color: #fb406f !important;
	}

	ul.dropdown-menu.header_drop_language li:hover {
		background: #132437;
	}

	#register-button {
		width: 100%;
		display: none;
	}

	button.navbar-toggle {
		margin-top: 1.3em;
	}

	form.example {
		input[type="text"] {
			align-items: center !important;
			margin-left: 43px;
		}

		button {
			margin-left: 67px;
			margin-top: 6px;
		}
	}

	.replus {
		margin-top: 0px;
		margin-left: 0px;
	}

	.select_widthbox li a {
		color: #000 !important;
	}

	div#bs-example-navbar-collapse-1 {
		background: #132437;
		float: left;
		width: 77%;
		padding: 0;

		ul.nav.navbar-right {
			display: block;
		}
	}

	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}

	a.navbar-link.margin-right {
		display: none;
	}

	ul.nav.navbar-nav.left_nav {
		margin-left: 0px !important;
	}

	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 35px !important;
	}

	hr.hr_line_width2 {
		width: 64%;
		display: block !important;
		border-top: 2px dotted #132437 !important;
		margin-top: 1px;
		margin-bottom: 39px;
		margin-left: -8px;
	}

	.moun {
		margin-top: 0px;
	}

	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}

	.btn_add_button {
		margin-bottom: 9px;
	}

	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;

		box-shadow: 1px 1px 10px 1px;
	}

	.great-job-hm {
		margin-top: 50px !important;
	}

	.companies-btn {
		margin-top: 35px !important;
		margin-bottom: 40px !important;
	}

	a.button.out-bodr-get {
		font-size: 20px !important;
	}

	form.example {
		margin-bottom: 21px;
	}
}

@media screen and (max-width: 767px) and (min-width: 599px) {
	.panel-hm {
		width: 58%;
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}
}

@media screen and (max-width: 1291px) and (min-width: 768px) {
	form.form-companies-search.companies {
		margin-top: 107px;
	}

	ul.nav.navbar-right {
		margin-right: -43px;
	}

	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}

	.btn_add_button {
		margin-bottom: 9px;
	}

	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}

	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;

		box-shadow: 1px 1px 10px 1px;
	}

	.panel-hm {
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}

	.great-job-hm {
		margin-top: 42px !important;
	}

	.companies-btn {
		margin-top: 40px !important;
		margin-bottom: 40px !important;
	}

	form.example {
		margin-bottom: 21px;
	}

	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	button.multiselect.dropdown-toggle.width_btn.btn.btn-default {
		width: 250px;
		max-width: 222px;
	}
}

@media screen and (max-width: 1291px) and (min-width: 290px) {
	.container.desktop-view {
		display: none !important;
	}

	.container.blu-section-desc {
		display: none !important;
	}
}

@media screen and (max-width: 8000px) and (min-width: 992px) {
	.container.mobile-view-box {
		display: none;
	}

	.blu-mobile-sect {
		display: none;
	}
}

@media screen and (max-width: 1199px) and (min-width: 768px) {
	.container.salary_section {
		padding-top: 149px !important;
	}

	.container.fom-job {
		padding-top: 149px !important;
	}
}

@media screen and (max-width: 1291px) and (min-width: 768px) {
	a.dropdown-toggle.boderbtn {
		padding-left: 164px !important;
		width: 50%;
	}
}

@media screen and (max-width: 992px) and (min-width: 320px) {
	.tabpanel {
		margin-left: 0px !important;
	}
}
