@include for-size(tablet-landscape-and-down) {
	.container.form-page {
		width: 85%;
	}

	.tab_str {
		padding-right: 0;
		margin-bottom: 0;
	}

	.num_sett {
		h1 {
			float: none;
			text-align: center;
		}

		span {
			font-size: 16px;
			float: none;
			text-align: center;
		}
	}

	.modal-content {
		width: 85%;
	}

	.article-list-vertical {
		max-width: 450px;
		min-height: 450px;

		li {
			max-width: 425px;
			min-height: 50px;

			img {
				float: none;
				display: block;
				text-align: center;
				vertical-align: middle;
				max-height: 250px;
				max-height: 250px;

				margin: 0 auto;
				padding-bottom: 15px;
			}

			div {
				float: none;
				padding: 30px;
				padding-top: 0;
				display: block;
				text-align: center;
				vertical-align: middle;
				margin: 0 auto;
			}
		}
	}

	.section_rview_back_color03 {
		padding-bottom: 26px;
	}

	.review-submitted {
		.rewards {
			.reward {
				width: 35%;
			}
		}
	}

	.desktop-view {
		display: none;
	}

	.footer-grids {
		padding-left: 0;
		margin-top: 10px;
	}

	.banner-text {
		padding: 9em 0 0;
		h2 {
			font-size: 2.4em;
		}

		h3 {
			font-size: 1.2em;
		}
	}

	.banner,
	.banner-info {
		max-height: 75vh;
	}

	.banner-text-info {
		width: 64%;
		margin: 6em auto 0;
	}

	.services,
	.footer,
	.about,
	.team,
	.contact {
		padding: 5em 0;
	}

	.static-page-banner .banner-text {
		padding-top: 10em;
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 240px;
	}

	#home.banner {
		min-height: unset;
	}

	.container.mobile-view {
		display: block;
	}

	.mobile-view {
		display: block;
	}
}
