/*=================page  employers   start==================*/

.emp-wel {
    padding-bottom: 5em;
    padding-top: 5em;
    background-color: #ffffff;
}

.back-img-emp{
    background-image:url('../images/employersBackground.png');
    height:472px;
    background-repeat:no-repeat;
    background-size:cover;
    padding-top: 148px;

}

.emp-icon1 {
  background-image:url('../images/feedbackIcon2.png');
   background-size:72% auto;
  background-position:center center;
}

.emp-icon2 {
 background-image:url('../images/upArrowIcon.png');
      background-size:72% auto;
  background-position:center center;
}

.frontLocation.plu {
    margin-bottom: 25px;
}

a.button.out-bodr-get {
    background-color: #439bd5;
    color: #ffffff;
    font-size: 33px;
    border: 1px solid #87bcdf!important;
}
a.button.out-bodr-get:hover {
    background-color: #7bb3d6;
}

.titlestar22{
    margin-top: 40px;
    color: #222;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 24px;
}

.great-emp-hm h1 {
  text-align: center;
  font-weight: bold;
  font-family: initial;
  margin-bottom: 23px;
  color: #ffffff;
}
.great-discover-emp h4
{
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 27px;
  font-family: initial;
  color: #ffffff;
}

/*=================page  employers  end==================*/
