nav {
	position:fixed;
	background:none;
	z-index:10000;
	width:100%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	padding: 0em 0;
}

nav.navScroll {
	background:rgba(0,0,0,0.7);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	color: #745EC5;
	background-color: #fff;
    box-shadow: 0px 2px 5px #B1B1B1;
}
nav.navScroll ul li a{
    color: #745EC5;
}
nav.navScroll ul.dropdown-menu li a {
    color: #745EC5;
}
nav.navScroll .logo a,nav.navScroll .logo a:hover{
    color: #745EC5;
}
nav.navScroll li a.active {
    color: #fff;
}
nav.navScroll a.buy{
	color: #fff;
}
@media(max-width:767px){
nav {
    padding: 1em 2em;
}
nav.navScroll ul li a {
    color: #fff;
}
}
@media(max-width:414px){
nav {
    padding: 1em;
}
}
@media(max-width:375px){
nav {
    padding: 0.8em 1em;
}
}