/* Reivew Form */

.stepwizard-step1 p {
	margin-top: 10px;
}
.stepwizard-step2 p {
	margin-top: 10px;
}
.stepwizard-step3 p {
	margin-top: 10px;
}
.stepwizard-row {
	display: table-row;
}
.stepwizard {
	display: table;
	width: 50%;
	position: relative;
	margin-top: 51px;
}
/*.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}*/
.stepwizard-step2 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-step3 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-row:before {
	top: 38px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;
}
.stepwizard-step1 {
	display: table-cell;
	text-align: left;
	position: relative;
	padding-top: 23px;
}
.stepwizard-step2 {
	display: table-cell;
	text-align: right;
	position: relative;
}
.stepwizard-step3 {
	display: table-cell;
	text-align: right;
	position: relative;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
body.review_section {
	background: #f2f2f2;
}
.container.review_section {
	background: #fff;
}
.row.header_logo {
	padding-bottom: 1em;
	padding-top: 2em;
}
.row.header_logo {
	padding: 15px 58px 17px;
}

/*==============deflat container====== */

/*@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
}*/
/*==============deflat container====== */

@media (min-width: 1200px) {
	.container.review_section {
		width: 650px;
	}
}
@media (min-width: 992px) {
	.container.review_section {
		width: 650px;
	}
}
@media (min-width: 768px) {
	.container.review_section {
		width: 650px;
	}
}

.header_contant {
	padding: 28px 0px 17px;
}

.header_logo {
	padding-top: 37px;
}

.form_width {
	/*   width: 79%;*/
	/* margin: 0 auto; */
	/* display: inline-block; */
	/* margin: 0; */
	/* margin-left: 63px;
    margin-right: 63px;*/

	padding: 59px 58px 84px;
}

.form-control_select {
	/* display: block; */
	width: 32%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: right;
}

.clear {
	clear: both;
}
.form-group.company {
	padding-top: 25px;
	padding-bottom: 28px;
}
.form-group.friend {
	padding-top: 25px;
	padding-bottom: 3.5em;
}
span.color_red {
	color: #ff2813;
}
.checked {
	color: orange;
}
.rating_text {
	font-size: 14px;
	padding-top: 14px;
	padding-bottom: 13px;
	line-height: 19px;
}

.btn-primary.backBtn2 {
	margin-right: 24px;
}
.review_option {
	font-size: 19px;
	padding-top: 10px;
	padding-bottom: 13px;
}

.form-control_select3 {
	display: block;
	width: 48%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: left;
	margin-bottom: 15px;
}
.form-control_select4 {
	display: block;
	width: 48%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: right;
	margin-bottom: 15px;
}

.form-control_select5 {
	display: block;
	width: 28%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: left;
	margin-bottom: 15px;
}

.form-control_select6 {
	display: block;
	width: 70%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	float: right;
	margin-bottom: 15px;
}

.starrr .glyphicon {
	color: #428bca !important;
}
.lead.ri_lead {
	float: right;
	font-size: 19px;
}
.review_section {
	margin-bottom: 50px;
}

/* Review Form */

/*top header*/
#backgd_color {
	background-color: #f0f0f0 !important;
}
.backimg {
	background-image: url(../images/topimg21.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 62px;
	margin: 0 auto;
	background-position: center center;
}
.back_col_logo {
	background-color: #ffffff;
}
.container.mar_lf_ri {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
	margin-top: 0px;
	margin-bottom: 19px;
	padding-top: 0px;
	background-color: #d6d5d5;
}
/*navbar*/
.na_tab ul {
	background-color: #000;
}
.nav-tabs {
	border-bottom: 0px solid #000 !important;
	font-family: sans-serif;
	font-size: 17px;
}
.subr_rev {
	font-size: 16px;
	font-weight: 300;
	color: #656565;
}

.na_tab .nav > li :hover {
	background-color: #439bd5;
	color: #fff;
}
.na_tab {
	padding-top: 31px;
}
.na_tab .nav > li {
	border-right: none !important;
	width: 20%;
}
.na_tab .nav-tabs > li > a {
	border: none !important;
	border-radius: 0px 0px 0 0 !important;
}

.na_tab ul li a {
	color: #fff !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #ffffff !important;
	cursor: default !important;
	background-color: #439bd5 !important;
	/*  background-color: #000!important;*/
	border: 0px solid #ddd !important;
	border-bottom: 1px solid #4395cc !important;
}
.nav-tabs > li > a {
	text-align: center;
}
/*navbar  end*/
li.te_deco {
	list-style-type: none;
}
.log {
	margin-top: 20px;
	z-index: 9999;
	position: absolute;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.gog {
	margin-left: 109px;
	margin-top: 19px;
}

.gog h3 {
	font-weight: bold;
	color: #000;
}
.back_colo {
	background-color: #ffffff;
}
.back_top_hover {
	box-shadow: 0px 1px 3px 0px;
}
.col-md-12.back_colo {
	padding: 10px;
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.col-md-12.back_colo1 {
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.section_rview_back_color_job {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_rview_back_color {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.section_rview_back_color3 {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}
.section_over2 {
	background-color: #ffffff;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}
.section_over3 {
	background-color: #ffffff;
	margin-top: 15px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_overtopsect {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}
.section_over_revi2 {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.col-md-12.back_colo1 {
	margin-bottom: 15px;
	background-color: #ffffff;
}

.sect_re1 {
	padding-bottom: 24px;
	padding-top: 25px;
	padding-left: 15px;
}

.num_sett span {
	font-size: 16px;
	float: left;
	margin-top: 20px;
}
.num_sett h1 {
	font-size: 70px;
	float: right;
}
/*star  css*/
.lef_label_one {
	float: left;
	margin-right: 78px;
	/* margin-right: 10px;*/
	line-height: 36px;
	font-size: 18px;
}
.col-md-6.bodr_lft {
	margin-top: 16px;
}

.lef_label {
	float: left;
	margin-right: 9px;
	line-height: 36px;
	font-size: 13px;
}
/*table  over*/
.tabl_content {
	/* font-weight: 600!important;*/
	font-weight: bold !important;
	color: #000 !important;
}

.sect_re1 td {
	font-size: 16px !important;
}

.tb_data > tbody > tr > td,
.tb_data > tfoot > tr > td {
	border-top: 0px solid #ddd !important;
}
.over_p p {
	font-size: 17px;
	color: #444343;
}
.over_p span {
	font-weight: bold;
	color: #000;
}
.col-md-6.bodr_lft {
	border-right: 1px solid #cacaca;
}
.sect_re1 .table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 2px !important;
	line-height: 1.428571;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table.table.tb_data {
	margin-top: 13px;
	margin-left: -14px;
}
h4.head_section_font {
	font-size: 21px;

	color: #000;
	font-weight: bold;
}
.hed-soft {
	margin-top: -15px;
}
/*review tab*/

.revw_tab {
	border-bottom: 1px solid #cacaca;
}
.revw_tab p {
	font-size: 15px;
	color: #444;
}

.checked {
	color: orange !important;
}

.mar_pad {
	margin-left: -14px;
}
.rev_section {
	padding: 14px;
}
.mar_pad2 {
	/* padding: 20px;*/
}
.str_fix span {
	font-size: 19px;
}
.str_fix .fa {
	color: #58ace4;
}
.str_fix label {
	font-size: 21px;
}

/*toggle thumb button*/
.btn-like {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 4px 2px;
	float: right;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 29px;
	color: #bbb;
	line-height: 0.33;
	border-radius: 35px;
}
.thumb_don_bn .fa:hover {
	color: #fff;
}
.thumb_up_bn .fa:hover {
	color: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.thumb_don_bn .btn-default:hover,
.btn-default:focus,
.btn-default:active {
	color: #ffffff;
	background-color: red;
	border-color: red;
}

.thumb_don_bn .btn-default:focus,
.btn-default:active {
	background-color: red !important;
	border-color: red;
	color: #fff;
}

.thumb_up_bn .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active {
	color: #ffffff;
	background-color: #30ad23;
	border-color: #30ad23;
}

.thumb_up_bn .btn-default:focus,
.btn-default:active {
	color: #fff;
	background-color: #30ad23 !important;
	border-color: #30ad23;
}

/*top header*/
#backgd_color {
	background-color: #f0f0f0 !important;
}
.backimg {
	background-image: url(../images/topimg21.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 62px;
	margin: 0 auto;
	background-position: center center;
}
.back_col_logo {
	background-color: #ffffff;
}
.container.mar_lf_ri {
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
	margin-top: 0px;
	margin-bottom: 19px;
	padding-top: 0px;
	background-color: #d6d5d5;
}
/*navbar*/
.na_tab ul {
	background-color: #000;
}
.nav-tabs {
	border-bottom: 0px solid #000 !important;
	font-family: sans-serif;
	font-size: 17px;
}
.subr_rev {
	font-size: 16px;
	font-weight: 300;
	color: #656565;
}

.na_tab .nav > li :hover {
	background-color: #439bd5;
	color: #fff;
}
.na_tab {
	padding-top: 31px;
}
.na_tab .nav > li {
	border-right: none !important;
	width: 20%;
}
.na_tab .nav-tabs > li > a {
	border: none !important;
	border-radius: 0px 0px 0 0 !important;
}

.na_tab ul li a {
	color: #fff !important;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: #ffffff !important;
	cursor: default !important;
	background-color: #439bd5 !important;
	/*  background-color: #000!important;*/
	border: 0px solid #ddd !important;
	border-bottom: 1px solid #4395cc !important;
}
.nav-tabs > li > a {
	text-align: center;
}
/*navbar  end*/
li.te_deco {
	list-style-type: none;
}
.log {
	margin-top: 20px;
	z-index: 9999;
	position: absolute;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.gog {
	margin-left: 109px;
	margin-top: 19px;
}

.gog h3 {
	font-weight: bold;
	color: #000;
}
.back_colo {
	background-color: #ffffff;
}
.back_top_hover {
	box-shadow: 0px 1px 3px 0px;
}
.col-md-12.back_colo {
	padding: 10px;
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.col-md-12.back_colo1 {
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.section_rview_back_color_job {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_rview_back_color {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.section_rview_back_color3 {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}
.section_over2 {
	background-color: #ffffff;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}
.section_over3 {
	background-color: #ffffff;
	margin-top: 15px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_overtopsect {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}
.section_over_revi2 {
	background-color: #ffffff;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.col-md-12.back_colo1 {
	margin-bottom: 15px;
	background-color: #ffffff;
}

.sect_re1 {
	padding-bottom: 24px;
	padding-top: 25px;
	padding-left: 15px;
}

.num_sett span {
	font-size: 16px;
	float: left;
	margin-top: 20px;
}
.num_sett h1 {
	font-size: 70px;
	float: right;
}
/*star  css*/
.lef_label_one {
	float: left;
	margin-right: 78px;
	/* margin-right: 10px;*/
	line-height: 36px;
	font-size: 18px;
}
.col-md-6.bodr_lft {
	margin-top: 16px;
}

.lef_label {
	float: left;
	margin-right: 9px;
	line-height: 36px;
	font-size: 13px;
}
/*table  over*/
.tabl_content {
	/* font-weight: 600!important;*/
	font-weight: bold !important;
	color: #000 !important;
}

.sect_re1 td {
	font-size: 16px !important;
}

.tb_data > tbody > tr > td,
.tb_data > tfoot > tr > td {
	border-top: 0px solid #ddd !important;
}
.over_p p {
	font-size: 17px;
	color: #444343;
}
.over_p span {
	font-weight: bold;
	color: #000;
}
.col-md-6.bodr_lft {
	border-right: 1px solid #cacaca;
}
.sect_re1 .table > tbody > tr > td,
.table > tfoot > tr > td {
	padding: 2px !important;
	line-height: 1.428571;
	vertical-align: top;
	border-top: 1px solid #ddd;
}

table.table.tb_data {
	margin-top: 13px;
	margin-left: -14px;
}
h4.head_section_font {
	font-size: 21px;

	color: #000;
	font-weight: bold;
}
.hed-soft {
	margin-top: -15px;
}
/*review tab*/

.revw_tab {
	border-bottom: 1px solid #cacaca;
}
.revw_tab p {
	font-size: 15px;
	color: #444;
}

.checked {
	color: orange !important;
}

.mar_pad {
	margin-left: -14px;
}
.rev_section {
	padding: 14px;
}
.mar_pad2 {
	/* padding: 20px;*/
}
.str_fix span {
	font-size: 19px;
}
.str_fix .fa {
	color: #58ace4;
}
.str_fix label {
	font-size: 21px;
}

/*toggle thumb button*/
.btn-like {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 30px;
	margin: 4px 2px;
	float: right;
}
.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}
.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 29px;
	color: #bbb;
	line-height: 0.33;
	border-radius: 35px;
}
.thumb_don_bn .fa:hover {
	color: #fff;
}
.thumb_up_bn .fa:hover {
	color: #fff;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.thumb_don_bn .btn-default:hover,
.btn-default:focus,
.btn-default:active {
	color: #ffffff;
	background-color: red;
	border-color: red;
}

.thumb_don_bn .btn-default:focus,
.btn-default:active {
	background-color: red !important;
	border-color: red;
	color: #fff;
}

.thumb_up_bn .btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active {
	color: #ffffff;
	background-color: #30ad23;
	border-color: #30ad23;
}

.thumb_up_bn .btn-default:focus,
.btn-default:active {
	color: #fff;
	background-color: #30ad23 !important;
	border-color: #30ad23;
}
