.modalView {
	width: 400px;
	background-color: white;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	max-width: 50%;
	max-height: 50%;
	padding: 4px;
	display: table;
}
.closeButton {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 32px;
	height: 32px;
	color: grey;
	z-index: 1;
}
.closeButton:hover {
	opacity: 10;
}
