//---------- Banners ---------//
.banner,
.employer {
	min-height: 700px;
	position: relative;
	z-index: 1;
}

.banner {
	background: url(../images/banner-img.jpg) no-repeat 0 0;
	@include background-size(cover);
	&::before {
		@include overlay();
	}

	&-text {
		padding: 19em 0 0;
		color: $white;

		@media (max-width: 768px) {
			padding: 13em 0 0;
		}

		&-info {
			width: 70%;
			text-align: center;
			margin: 0 auto;

			input[type="text"] ::-webkit-input-placeholder,
			input[type="text"] :-moz-placeholder,
			input[type="text"] :-ms-input-placeholder,
			input[type="text"] ::-moz-placeholder {
				color: #747474;
				opacity: 1;
			}
		}

		h1 {
			font-size: 3em;
			line-height: 1.2em;
			font-weight: bold;
			margin-bottom: 40px;
		}
		h3 {
			font-size: 1.5em;
			margin-top: 1em;
			letter-spacing: 3px;
		}
	}
}

.about {
	padding-bottom: 6em;
	padding-top: 4em;
	&-banner {
		min-height: 300px;
		.banner-text {
			padding-top: 11em;
			text-align: center;
		}
	}

	&-info {
		margin-top: 4em;
	}

	&-imgs {
		padding-left: 0;
	}

	img {
		width: 100%;
	}

	.cdoun {
		margin-top: 20px;
	}

	.al {
		text-align: center;
	}

	.about-row p {
		font-size: 19px;
		text-align: center;
		padding-top: 22px;
		color: #585858;
	}

	.emplh3 {
		font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial,
			sans-serif;
		font-size: 16px;
		line-height: 1.2em;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 600;
		font-style: normal;
		text-align: center;
		margin-top: 20px;
	}
}

.bl {
	background-color: #f2f2f2;
	padding-bottom: 104px;
	padding-top: 4em;
}

.employer {
	background: url(../images/about.jpg) no-repeat 0 0;
	@include background-size(cover);
}

//--------------------------------------//

/*====================profile dropdown top nav start  =======================*/

.pf.dropdown-menu > li > a:hover {
	color: #292a2b;
}

.pf.dropdown {
	/*background:#fff;*/
	border-radius: 4px;
	width: 68px;
	margin-top: -10px;
}
.pf.dropdown-menu > li > a {
	color: #428bca;
}
.pf.dropdown ul.dropdown-menu {
	border-radius: 4px;
	box-shadow: none;
	margin-top: -8px;
	width: 161px;
	padding-bottom: 0px;
	padding-top: 0px;
	left: 5px;
}
.pf.dropdown ul.dropdown-menu:before {
	content: "";
	border-bottom: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	position: absolute;
	top: -10px;
	left: 19px;
	z-index: 10;
}
.pf.dropdown ul.dropdown-menu:after {
	content: "";
	border-bottom: 12px solid #ccc;
	border-right: 12px solid transparent;
	border-left: 12px solid transparent;
	position: absolute;
	top: -12px;
	left: 19px;
	z-index: 9;
}

.open > a,
.nav .open {
	border: 0px solid #ffffff !important;
}

.show-on-hover-pf:hover > ul.dropdown-menu {
	display: block;
}

.dp-profile {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

ul.dropdown-menu.pf li {
	margin: 0 auto;
}
ul.dropdown-menu.pf li a:hover {
	background-color: #439bd5;
	color: #ffffff !important;
}

.mar-tp {
	margin-top: 60px;
	padding-bottom: 30px;
}

hr.hr_line_width1 {
	width: 38%;
	margin-top: 30px;
	display: block !important;
	border-top: 2px dotted #2b3a4b !important;
	margin-left: 48px;
}
/*====================profile dropdown top nav  end=======================*/
