@media (max-width: 640px) {
	h1,
	.h1,
	h2,
	.h2,
	h3,
	.h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,
	.grid_3 p,
	ul.list-group li,
	li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 10px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.grid_4 {
		margin-top: 30px;
	}
}
@media (max-width: 480px) {
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,
	p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
}
@media (max-width: 320px) {
	.grid_4 {
		margin-top: 18px;
	}
	.alert,
	p,
	ol.breadcrumb li,
	.grid_3 p,
	.well,
	ul.list-group li,
	li.list-group-item1,
	a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px !important;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.table > thead > tr > th,
	.table > tbody > tr > th,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > tbody > tr > td,
	.table > tfoot > tr > td {
		font-size: 0.81em;
	}
	.table td,
	.table > tbody > tr > td,
	.table > tbody > tr > th,
	.table > tfoot > tr > td,
	.table > tfoot > tr > th,
	.table > thead > tr > td,
	.table > thead > tr > th {
		padding: 13px !important;
	}
	.codes .row {
		margin: 0;
	}
}
@media (max-width: 1280px) {
	.banner-text-info {
		width: 70%;
	}
}
@media (max-width: 1080px) {
	.top-nav ul li {
		margin: 0 0.2em;
	}
	.banner-text h2 {
		font-size: 2.8em;
	}
	.banner-text-info {
		width: 61%;
	}
	.banner-text h3 {
		font-size: 1.3em;
	}
	.banner,
	.banner-info {
		min-height: 660px;
	}
	.callbacks_tabs {
		left: 45%;
	}
	.welcome,
	.tabs,
	.services,
	.slid,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 7em 0;
	}
	.welcome-right {
		padding: 0;
	}
	.welcome-text.wtext-right {
		padding: 0;
	}
	.tabs-left {
		padding: 0;
	}
	.tab-grid-right {
		padding: 0 0 0 3em;
	}
	.slid-grids {
		margin: 0 2em;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 270px;
	}
	.pince-right {
		width: 80%;
	}
	.about h4 {
		font-size: 1.7em;
	}
	.flexslider {
		width: 75%;
	}
	.testimonials-grid p {
		margin: 1.3em 0;
		font-size: 1.4em;
	}
	.ch-grid li {
		width: 200px;
		height: 200px;
		margin: 15px;
	}
	.ch-info h3 {
		padding: 52px 0 0 0;
	}
	.view {
		width: 293px;
		height: 202px;
	}
	.view .mask,
	.view .content {
		width: 274px;
		height: 183px;
	}
	.view p {
		margin: 3.5em auto 0;
		width: 73%;
	}
	.blog-tags ul li a {
		padding: 0.5em 1.6em;
	}
	.comment-icons ul li {
		margin-right: 2em;
	}
	.related-grids h5 {
		font-size: 1.1em;
	}
	.coment-form input[type="text"] {
		width: 48.5%;
	}
	.address ul li {
		font-size: 1.3em;
		margin-right: 2em;
	}
	.servc-grids {
		margin-top: 4em;
	}
	.testimonials-grid {
		margin-top: 2em;
	}
}
@media (max-width: 1024px) {
	.top-nav ul li a {
		font-size: 1.1em;
	}
	ul.dropdown-menu li a {
		font-size: 1em;
	}
	.banner-text h2 {
		font-size: 2.6em;
	}
	.banner,
	.banner-info {
		min-height: 600px;
	}
	.banner-text-info {
		margin: 17em auto 0;
	}
	.welcome,
	.tabs,
	.services,
	.slid,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 6em 0;
	}
	.welcome-text.wtext-left {
		padding-left: 0;
	}
	.welcome-info {
		margin-top: 1.2em;
	}
	.pince:nth-child(2) {
		margin: 2.1em 0;
	}
	.testimonials-grid {
		margin-top: 2em;
	}
}
@media (max-width: 1291px) {
	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 11px;
	}
	.banner-text-info {
		margin: 16em auto 0;
	}
	.welcome-left {
		float: left;
		width: 40%;
		padding: 0;
	}
	.welcome-right {
		float: right;
		width: 55%;
	}
	h3.title {
		font-size: 3em;
	}
	p {
		font-size: 1em;
	}
	.welcome-text {
		float: left;
	}
	.welcome-text.wtext-right {
		padding: 0;
		width: 84%;
	}
	.welcome span.glyphicon {
		font-size: 1em;
		padding: 0.8em;
	}
	.welcome h4 {
		font-size: 1.3em;
	}
	.tabs-left {
		float: left;
		width: 55%;
	}
	.tabs-right {
		float: right;
		padding: 0;
		width: 40%;
	}
	.tabs .nav-tabs li {
		float: left;
	}
	.tab-grid-right {
		padding: 0 0 0 1em;
	}
	.tabs .nav-tabs li a {
		padding: 1.8em 1.2em;
	}
	.servc-grid {
		float: left;
		width: 50%;
		padding-left: 0;
	}
	.servc-grid:nth-child(2) {
		padding: 0 0 0 1em;
	}
	.servc-grid-left span {
		font-size: 1.5em;
	}
	.servc-grid-left {
		text-align: left;
		padding: 0;
	}
	.servc-grid-right {
		padding: 0;
	}
	.servc-grids {
		margin-top: 3em;
	}
	.servc-grid-right h4 {
		font-size: 1.4em;
		margin: 0 0 0.2em;
	}
	.slid-grids {
		float: left;
	}
	.slid h4 {
		font-size: 2em;
	}
	.slid h5 {
		font-size: 1.5em;
	}
	.footer-grids {
		float: left;
		width: 33.33%;
		padding: 0 0.5em;
	}
	.footer-grids:nth-child(1) {
		padding: 0 1em 0 0;
	}
	.footer img {
		padding: 0;
		width: 100%;
	}
	.footer a.footer-img {
		width: 32.2%;
	}
	.about-imgs {
		padding-left: 0;
		float: left;
		width: 33%;
	}
	.about-grids:nth-child(2) {
		margin-top: 2em;
	}
	.pince-left {
		width: 9%;
	}
	.pince-right {
		width: 86%;
	}
	.testimonials-grid p {
		font-size: 1.3em;
		margin: 1em 0;
	}
	.flexslider .slides img {
		width: 8%;
	}
	.ch-grid li {
		width: 167px;
		height: 167px;
		margin: 5px;
	}
	.ch-item {
		box-shadow: inset 0 0 0 0 rgba(116, 94, 197, 0.4),
			inset 0 0 0 10px rgba(255, 255, 255, 0.6),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}
	.ch-item:hover {
		box-shadow: inset 0 0 0 110px rgb(116, 94, 197),
			inset 0 0 0 10px rgba(255, 255, 255, 0.8),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}
	.footer-copy {
		padding: 1em 0;
	}
	.ch-info h3 {
		font-size: 1.4em;
		padding: 36px 0 0 0;
	}
	.ch-info p {
		font-size: 0.9em;
		margin: 11px 30px 6px;
	}
	.ch-item .footer-bottom a {
		padding: 0 0.1em;
	}
	.ch-item .footer-bottom {
		margin-top: 0;
	}
	.gallery-grids {
		margin-top: 3em;
	}
	.view {
		width: 230px;
		height: 157px;
		margin: 5px;
		border: 5px solid #fff;
	}
	.view p {
		margin: 3em auto 0;
		width: 80%;
		font-size: 0.9em;
	}
	.view .mask,
	.view .content {
		width: 220px;
		height: 148px;
	}
	.comment-icons {
		margin: 3em 0;
	}
	.related-posts {
		padding: 3em 0;
	}
	.related-grids {
		padding-right: 0.5em !important;
		width: 25%;
	}
	.blog-right {
		margin-top: 3em;
	}
	.blog-right ul.catgry li {
		display: block;
	}
	.blog-tags {
		margin-top: 3em;
	}
	.contact-grid iframe {
		min-height: 350px;
		margin-bottom: 2em;
	}
	.contact-grids p {
		margin: 0.5em 0;
	}
	.address ul li {
		font-size: 1em;
		margin-right: 2em;
	}
	.address ul li i.phon {
		font-size: 1.3em;
	}
	.address {
		margin-top: 3em;
	}
}
@media (max-width: 900px) {
	.address {
		margin-top: 3em;
	}
	.banner-text h2 {
		font-size: 2.4em;
	}
	.banner-text h3 {
		font-size: 1.2em;
	}
	.banner-text-info {
		width: 64%;
	}
	.more {
		margin-top: 2em;
	}
	.more a {
		padding: 0.7em 2em;
	}
	.banner,
	.banner-info {
		min-height: 525px;
	}
	.banner-text-info {
		margin: 14em auto 0;
	}
	.welcome,
	.tabs,
	.services,
	.slid,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 5em 0;
	}
	.testimonials-grid p {
		font-size: 1.2em;
	}
	.testimonials-grid h5 {
		font-size: 1.3em;
	}
	.testimonials {
		padding: 4em 0 8em;
	}
	.flexslider .slides img {
		width: 6%;
	}
	.about-info {
		margin-top: 2em;
	}
	.about-banner .banner-text {
		padding-top: 10em;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 240px;
	}
	.blog h4 {
		font-size: 1.8em;
	}
}
@media (max-width: 1200px) {
	.banner-text-info {
		width: 68%;
		margin: 13em auto 0;
	}
	.banner-text h2 {
		font-size: 2.3em;
	}
	.banner-text h3 {
		letter-spacing: 1px;
	}
	.banner,
	.banner-info {
		min-height: 500px;
	}
	.servc-grids {
		margin-top: 3em;
	}
	.slid-row {
		margin-top: 2em;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 220px;
	}
	.about-banner .banner-text {
		padding-top: 9em;
	}
	.team-grids {
		margin-top: 3em;
	}
	.footer-copy {
		margin: 2em 0 0;
	}
	.blog-grids {
		margin-top: 3em;
	}
	.blog p.snglp {
		margin: 0;
	}
	.logo h1 {
		font-size: 3em;
	}
	ul.nav.navbar-right {
		margin-top: 0;
	}
	.comment-icons {
		margin: 2em 0;
	}
	.contact-grid iframe {
		min-height: 300px;
	}
}
@media (max-width: 768px) {
	.banner-text h2 {
		font-size: 2.1em;
	}
	.banner-text h3 {
		font-size: 1.1em;
	}
	.callbacks_tabs {
		left: 43.5%;
		bottom: 12%;
	}
	.banner,
	.banner-info {
		min-height: 460px;
	}
	.banner-text-info {
		margin: 12em auto 0;
	}
	.slid {
		padding: 3em 0;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 210px;
	}
	.about-banner .banner-text {
		padding-top: 8em;
	}
	.testimonials-grid p {
		font-size: 1.1em;
	}
	.testimonials {
		padding: 3em 0 6em;
	}
	.ch-info h3 {
		padding: 40px 0 0 0;
	}
}

@media (max-width: 1267px) {
	button.navbar-toggle {
		background: #439bd5;
		border-color: #fff;
	}
	.navbar-toggle .icon-bar {
		background: #fff;
	}
	.top-nav ul li {
		display: block;
		margin: 0.5em 0;
	}
	div#bs-example-navbar-collapse-1 {
		background: rgba(0, 0, 0, 0.82);
	}
	ul.nav.navbar-right {
		text-align: center;
	}
	.navbar-right .dropdown-menu {
		min-width: 100%;
		position: relative;
		text-align: center;
	}
}
@media (max-width: 1240px) {
	.banner-text h2 {
		font-size: 1.8em;
	}
	.banner-text h3 {
		font-size: 1em;
	}
	.banner,
	.banner-info {
		min-height: 410px;
	}
	.banner-text-info {
		margin: 10em auto 0;
	}
	.callbacks_tabs {
		left: 42.5%;
	}
	.welcome-left,
	.tabs-right {
		float: none;
		width: 60%;
		margin: 0 auto;
	}
	.welcome-right {
		float: none;
		width: 100%;
		margin-top: 2em;
	}
	.tabs-left {
		float: none;
		width: 100%;
		margin-bottom: 2.5em;
	}
	.tabs .nav-tabs li a {
		padding: 1.5em;
	}
	.welcome,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 4em 0;
	}
	.servc-grids {
		margin-top: 0;
	}
	.servc-grid {
		float: none;
		width: 100%;
		padding: 0;
		margin-top: 2em;
	}
	.servc-grid-left {
		text-align: center;
	}
	.servc-grid:nth-child(2) {
		padding: 0;
	}
	.servc-grid-left span {
		font-size: 1.3em;
	}
	.slid-grids {
		margin: 0 1.5em;
	}
	.slid-grids {
		padding: 2em 0;
	}
	.slid h4 {
		font-size: 1.8em;
	}
	.slid h5 {
		font-size: 1.2em;
	}
	.footer-grids {
		float: none;
		width: 100%;
		padding: 0;
	}
	.footer-grids:nth-child(1) {
		padding: 0;
	}
	.footer-grids:nth-child(2) {
		margin: 1em 0;
	}
	.footer-bottom a {
		margin: 0 0.5em;
	}
	.footer-bottom a span {
		left: -20px;
		right: -20px;
		font-size: 0.9em;
	}
	.footer-bottom a span:before {
		left: 33px;
	}
	.footer a.footer-img {
		width: 14%;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 190px;
	}
	.about h4 {
		font-size: 1.5em;
	}
	.testimonials-grid {
		margin-top: 1em;
	}
	.ch-grid li {
		width: 141px;
		height: 141px;
		margin: 2px;
	}
	.ch-item {
		box-shadow: inset 0 0 0 0 rgba(116, 94, 197, 0.4),
			inset 0 0 0 7px rgba(255, 255, 255, 0.6),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}
	.team-grids {
		margin: 1.5em 0 0;
	}
	.ch-item:hover {
		box-shadow: inset 0 0 0 110px rgb(116, 94, 197),
			inset 0 0 0 7px rgba(255, 255, 255, 0.8),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}
	.ch-info h3 {
		font-size: 1.2em;
		padding: 30px 0 0 0;
	}
	.ch-info p {
		font-size: 0.9em;
		margin: 11px 9px 1px;
	}
	.ch-item .footer-bottom a {
		padding: 0;
	}
	.ch-item .footer-bottom a:nth-of-type(2):before {
		background-position: 1px -21px;
	}
	.comment-icons ul li {
		margin-right: 1.5em;
	}
	.coment-form input[type="text"] {
		width: 48.3%;
	}
	.view {
		width: 187px;
		height: 127px;
	}
	.view .mask,
	.view .content {
		width: 178px;
		height: 117px;
	}
	.view p {
		margin: 2.2em auto 0;
		width: 86%;
		font-size: 0.8em;
	}
}
@media (max-width: 480px) {
	.banner-text h2 {
		font-size: 1.6em;
	}
	.banner-text-info {
		width: 81%;
	}
	.banner,
	.banner-info {
		min-height: 400px;
	}
	.callbacks_tabs {
		left: 39.5%;
	}
	.slid-grids {
		margin: 0 0.5em;
		width: 30%;
		padding: 1.5em 0;
	}
	.slid .more a {
		padding: 0.7em 1.2em;
	}
	.slid h4 {
		font-size: 1.6em;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 165px;
	}
	.about-banner .banner-text {
		padding-top: 7em;
	}
	.welcome,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 3em 0;
	}
	.about-grids {
		padding: 0;
	}
	p {
		line-height: 1.8em;
	}
	.pince-left {
		width: 12%;
		padding: 0.8em;
	}
	.pince-right {
		width: 82%;
	}
	.testimonials-grid p {
		font-size: 0.9em;
	}
	.testimonials-grid h5 {
		font-size: 1.1em;
	}
	.ch-grid li {
		width: 170px;
		height: 170px;
		margin: 10px;
	}
	.ch-info h3 {
		padding: 45px 0 0 0;
	}
	.gallery-grids {
		margin-top: 2em;
	}
	h3.hdg {
		font-size: 2em;
	}
	.blog-grids {
		margin-top: 2em;
	}
	.blog-grids {
		padding: 0;
	}
	.view {
		width: 206px;
		height: 137px;
	}
	.view .mask,
	.view .content {
		width: 196px;
		height: 127px;
	}
	.view p {
		margin: 3.5em auto 0;
	}
	.single-page-left {
		padding: 0;
	}
	.comment-icons ul li {
		margin-bottom: 1em;
	}
	.blog h4 {
		font-size: 1.6em;
	}
	.blog p.snglp {
		font-size: 0.9em;
	}
	.contact-grid {
		padding: 0;
	}
	.contact-grid iframe {
		min-height: 240px;
	}
	.admin-text {
		padding: 1.5em;
	}
	.coment-form input[type="text"]:nth-child(1) {
		margin-right: 0;
	}
	.coment-form input[type="text"] {
		width: 100%;
	}
	.blog-tags {
		margin-top: 2em;
	}
}
@media (max-width: 414px) {
	button.navbar-toggle {
		margin-top: 0.3em;
	}
	.banner-text h2 {
		font-size: 1.5em;
	}
	.banner-text-info {
		width: 89%;
	}
	.more {
		margin-top: 1.5em;
	}
	.callbacks_tabs li {
		margin: 0;
	}
	.callbacks_tabs a:after {
		height: 11px;
		width: 11px;
	}
	.callbacks_tabs {
		left: 42.5%;
	}
	.welcome-left,
	.tabs-right {
		width: 80%;
	}
	p {
		font-size: 0.9em;
	}
	.tab-grid-left {
		width: 100%;
	}
	.tabs .nav-tabs {
		float: none;
	}
	.tabs .nav-tabs li {
		float: left;
		width: 32%;
		margin: 0 2px 0 0;
	}
	.tabs .nav-tabs li a {
		padding: 1em;
		text-align: center;
	}
	.welcome-left,
	.tabs-right {
		width: 100%;
	}
	.tab-grid-right {
		padding: 0 1em;
		width: 100%;
	}
	.slid-grids {
		width: 29%;
	}
	.more a {
		font-size: 0.9em;
	}
	.slid .more a {
		padding: 0.4em 1em;
	}
	.footer a.footer-img {
		width: 19%;
	}
	h3.title {
		font-size: 2.6em;
	}
	.about h4 {
		font-size: 1.4em;
	}

	.admin-text-right p {
		font-size: 0.9em;
	}
	.related-grids {
		width: 50%;
	}
	.thumbnail {
		margin-bottom: 12px;
	}
	.related-grids {
		margin-bottom: 1em;
	}
	.related-posts {
		padding: 2em 0;
	}
	.response-text-right ul li {
		font-size: 0.9em;
	}
	.single-page h3 {
		font-size: 2em;
		margin-bottom: 0.4em;
	}
	.coment-form {
		margin-top: 2em;
	}
	.coment-form input[type="text"],
	.coment-form textarea,
	.coment-form input[type="submit"] {
		font-size: 0.9em;
	}
	.blog ul li a {
		font-size: 0.9em;
	}
	.comment-icons {
		padding: 2em 0 1em;
	}
	.admin-text-right span {
		font-size: 0.9em;
	}
	.footer h3 {
		font-size: 2em;
	}
}
@media (max-width: 375px) {
	.banner-text h2 {
		font-size: 1.3em;
	}
	.banner-text h3 {
		letter-spacing: 0px;
	}
	.view {
		margin: 0.5em 2em;
	}
	.banner,
	.banner-info {
		min-height: 350px;
	}
	.banner-text-info {
		margin: 9em auto 0;
	}
	.more {
		margin-top: 0.8em;
	}
	.welcome-text.wtext-right {
		width: 82%;
	}
	.tabs-left {
		margin-bottom: 1.5em;
	}
	.servc-grid {
		margin-top: 1.5em;
	}
	.servc-grid-left {
		text-align: left;
	}
	.servc-grid-left {
		text-align: left;
	}
	.slid {
		padding: 2em 0;
	}
	.slid-row {
		margin-top: 1em;
	}
	.welcome,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 2em 0;
	}
	.about-imgs {
		padding: 0;
		float: left;
		width: 100%;
		margin-top: 0.3em;
	}
	.about h4 {
		font-size: 1.3em;
	}
	.pince-left {
		width: 15%;
	}
	.pince-right {
		width: 79%;
	}
	.testimonials {
		padding: 2em 0 5em;
	}
	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 151px;
	}
	.about-banner .banner-text {
		padding-top: 6em;
	}
	.blog h4 {
		font-size: 1.5em;
	}
	.slid-grids {
		width: 65%;
		margin: 1em auto 0;
		float: none;
	}
}
@media (max-width: 320px) {
	.logo h1 {
		font-size: 2.5em;
	}
	button.navbar-toggle {
		margin: 0;
	}
	.banner-text h2 {
		font-size: 1.2em;
	}
	.banner-text-info {
		width: 93%;
	}
	.banner-text-info {
		margin: 8em auto 0;
	}
	.banner,
	.banner-info {
		min-height: 325px;
	}
	.callbacks_tabs {
		left: 39.5%;
		bottom: 7%;
	}
	.welcome-text {
		float: none;
		padding: 0;
	}
	.welcome-text.wtext-right {
		width: 100%;
	}
	.welcome-info {
		text-align: center;
	}
	.welcome h4 {
		font-size: 1.1em;
		margin-top: 0.5em;
	}
	h3.title {
		font-size: 2.2em;
	}
	.tabs .more {
		margin-top: 1em;
	}
	.tab-grid-right {
		padding: 0;
	}

	.footer a.footer-img {
		width: 27%;
	}
	.about-info {
		margin-top: 1em;
	}

	.slid-grids {
		width: 90%;
		margin: 1em auto 0;
		float: none;
		padding: 2em 0;
	}
	nav.navScroll ul li a {
		color: #ffffff !important;
	}
}
@media screen and (max-width: 992px) and (min-width: 320px) {
	.tabpanel {
		margin-left: 0px !important;
	}
}
@media screen and (max-width: 780px) and (min-width: 320px) {
	.alisetright img {
		width: 100% !important;
	}
	.container1 {
		padding-left: 2em !important;
		padding-right: 1em !important;
	}
	.aliset {
		width: auto !important;
	}
	form.example button {
		width: 58% !important;
		margin-top: 9px;
	}
	.welpadgo {
		padding-top: 3em !important;
	}
	.row.all_boxcolor1.select_box {
		padding-top: 3em !important;
	}
	nav.navScroll ul li a {
		color: #ffffff !important;
	}
	#register-button {
	}
}

@media screen and (max-width: 500px) and (min-width: 300px) {
	.panel-hm {
		width: 95%;
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}
}
@media screen and (max-width: 359px) and (min-width: 290px) {
	.form-search_header {
		margin-bottom: 27px;
	}
	.dp-profile {
		margin: 0 auto !important;
	}

	.top-nav ul li a {
		color: #ffffff !important;
	}

	.great-job-hm {
		margin-top: 30px !important;
	}

	.companies-btn {
		margin-top: 25px !important;
		margin-bottom: 40px !important;
	}
	a.button.out-bodr-get {
		font-size: 15px !important;
	}

	form.example {
		margin-bottom: 21px;
	}

	.navbar-header.logo {
		margin-top: 0px !important;
		background-color: #132437 !important;
	}
	a#navEng {
		color: #ffffff !important;
	}
	a#navIta {
		color: #ffffff !important;
	}
	a#navEng:hover {
		color: #ffffff !important;
	}
	a#navIta:hover {
		color: #ffffff !important;
	}
	nav {
		padding: 0em 0em !important;
	}
	nav.navScroll {
		background-color: transparent !important;
		box-shadow: transparent !important;
	}
	ul.nav.navbar-right {
		width: 71%;
		margin-left: 39px;
	}
	.btn-green {
		background-color: #fb406f !important;
	}
	nav.navScroll ul li a {
		color: #ffffff !important;
	}
	ul.dropdown-menu.header_drop_language li:hover {
		background: #132437;
	}
	#register-button {
		width: 100%;
		display: none;
	}
	.navbar-collapse {
		padding-bottom: 250px !important;
	}
	button.navbar-toggle {
		margin-top: 1.3em;
	}
	form.example input[type="text"] {
		align-items: center !important;
		margin-left: 43px;
	}
	form.example button {
		margin-left: 67px;
		margin-top: 6px;
	}
	.replus {
		margin-top: 0px;
		margin-left: 0px;
	}
	.select_widthbox li a {
		color: #000 !important;
	}
	div#bs-example-navbar-collapse-1 {
		background: #132437;
		float: left;
		width: 77%;
		padding: 0;
	}
	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}
	a.navbar-link.margin-right {
		display: none;
	}
	ul.nav.navbar-nav.left_nav {
		margin-left: 0px !important;
	}
	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 35px !important;
	}
	hr.hr_line_width1 {
		width: 38%;
		margin-top: 30px;
		display: block !important;
		border-top: 2px dotted #2b3a4b !important;
		margin-left: 48px;
	}
	hr.hr_line_width2 {
		width: 64%;
		display: block !important;
		border-top: 0px dotted #132437 !important;
		margin-top: 1px;
		margin-bottom: 39px;
		margin-left: -8px;
	}

	.grid_3 p {
		margin-left: 0px;
	}
	.grid_3.grid_5 {
		text-align: center;
	}
	.container.pagination_text {
		text-align: center !important;
	}
	.moun {
		margin-top: 0px;
	}
	/*=============add new csss onlo mobliy view============*/
	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}
	.btn_add_button {
		margin-bottom: 9px;
	}

	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;
		font-size: 15px;
		box-shadow: 1px 1px 10px 1px;
	}
	.container.fom-job {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.fom-siz-post {
		width: 100%;
	}
	.container.salary_section {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}
	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}
	.col-md-12.main_row_width {
		padding-top: 1px !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
	}

	li.ln {
		display: none !important;
	}

	ul.dropdown-menu.pf {
		margin-left: 38px;
	}
	.pf.dropdown {
		margin-left: -35px;
	}

	.pf.dropdown-menu > li > a {
		margin-left: 0px;
	}

	.pf.dropdown ul.dropdown-menu:before {
		display: none;
	}
	.pf.dropdown ul.dropdown-menu:after {
		display: none;
	}
	a.dropdown-toggle.boderbtn {
		margin-left: -6px;
	}
	ul.dropdown-menu.header_drop_language {
		background-color: #ffffff !important;
		margin-left: -15px;
	}
	ul.dropdown-menu {
		background-color: #ffffff !important;
		margin-left: -15px;
	}
}
/*===================add new csss only End mobliy view========*/

@media screen and (max-width: 1267px) and (min-width: 320px) {
	ul.dropdown-menu.header_drop_language {
		background-color: #ffffff !important;
		margin-left: -17px;
	}
	ul.dropdown-menu {
		background-color: #ffffff !important;
		margin-left: -17px;
	}
	a.dropdown-toggle.boderbtn {
		margin-left: -18px;
	}

	.pf.dropdown ul.dropdown-menu:before {
		display: none;
	}
	.pf.dropdown ul.dropdown-menu:after {
		display: none;
	}

	.pf.dropdown {
		margin-left: -55px;
		width: 72% !important;
	}
	ul.dropdown-menu.pf {
		margin-left: 38px;
	}

	.form-search_header {
		margin-bottom: 27px;
	}
	.dp-profile {
		margin: 0 auto !important;
	}

	li.ln {
		display: none !important;
	}
	.col-md-12.main_row_width {
		padding-top: 1px !important;
		padding-left: 1em !important;
		padding-right: 1em !important;
	}
	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}
	.container.salary_section {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}

	.container.fom-job {
		padding-left: 3em !important;
		padding-right: 3em !important;
	}
	.fom-siz-post {
		width: 100%;
	}
	.navbar-header.logo {
		margin-top: 0px !important;
		background-color: #132437 !important;
	}
	a#navEng {
		color: #ffffff !important;
	}
	a#navIta {
		color: #ffffff !important;
	}
	a#navEng:hover {
		color: #ffffff !important;
	}
	a#navIta:hover {
		color: #ffffff !important;
	}
	nav {
		padding: 0em 0em !important;
	}
	nav.navScroll {
		background-color: transparent !important;
		box-shadow: transparent !important;
	}
	ul.nav.navbar-right {
		width: 60%;
		margin-left: 0px;
	}
	.btn-green {
		background-color: #fb406f !important;
	}
	nav.navScroll ul li a {
		color: #ffffff !important;
	}
	ul.dropdown-menu.header_drop_language li:hover {
		background: #132437;
	}
	#register-button {
		width: 100%;
		display: none;
	}
	.navbar-collapse {
		padding-bottom: 250px !important;
	}
	button.navbar-toggle {
		margin-top: 1.3em;
	}
	form.example input[type="text"] {
		align-items: center !important;
		margin-left: 43px;
	}
	form.example button {
		margin-left: 67px;
		margin-top: 6px;
	}
	.replus {
		margin-top: 0px;
		margin-left: 0px;
	}
	.select_widthbox li a {
		color: #000 !important;
	}
	div#bs-example-navbar-collapse-1 {
		background: #132437;
		float: left;
		width: 77%;
		padding: 0;
	}
	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}
	a.navbar-link.margin-right {
		display: none;
	}
	ul.nav.navbar-nav.left_nav {
		margin-left: 0px !important;
	}
	.top-nav ul li a {
		letter-spacing: 0;
		padding: 10px 35px !important;
	}
	hr.hr_line_width1 {
		width: 38%;
		margin-top: 30px;
		display: block !important;
		border-top: 2px dotted #2b3a4b !important;
		margin-left: 48px;
	}
	hr.hr_line_width2 {
		width: 64%;
		display: block !important;
		border-top: 2px dotted #132437 !important;
		margin-top: 1px;
		margin-bottom: 39px;
		margin-left: -8px;
	}

	.grid_3 p {
		margin-left: 0px;
	}
	.grid_3.grid_5 {
		text-align: center;
	}
	.container.pagination_text {
		text-align: center !important;
	}
	.moun {
		margin-top: 0px;
	}
	/*=============add new csss onlo mobliy view============*/
	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}
	.btn_add_button {
		margin-bottom: 9px;
	}
	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;

		box-shadow: 1px 1px 10px 1px;
	}
	.great-job-hm {
		margin-top: 50px !important;
	}

	.companies-btn {
		margin-top: 35px !important;
		margin-bottom: 40px !important;
	}
	a.button.out-bodr-get {
		font-size: 20px !important;
	}
	form.example {
		margin-bottom: 21px;
	}
}

@media screen and (max-width: 767px) and (min-width: 599px) {
	.panel-hm {
		width: 58%;
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}
}
/*===================add new csss onlo End mobliy view========*/
@media screen and (max-width: 1291px) and (min-width: 768px) {
	form.form-search_header.companies {
		margin-top: 107px;
	}
	ul.nav.navbar-right {
		margin-right: -43px;
	}

	/*=============add new csss onlo mobliy view============*/
	.btn_follow1 {
		margin-bottom: 6px;
		display: none;
	}
	.btn_add_button {
		margin-bottom: 9px;
	}
	.border_btn {
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		padding: 9px;
		border-top-right-radius: 12px;
		border-bottom-right-radius: 12px;
	}
	a.btn.btn-primary.color_btn {
		background-color: #dadada;
		color: #337ab7;
		font-weight: bold;

		box-shadow: 1px 1px 10px 1px;
	}
	.panel-hm {
		margin-bottom: 10px !important;
		margin-left: 0px !important;
		margin-top: 0px !important;
		margin-right: 0px !important;
	}

	.great-job-hm {
		margin-top: 42px !important;
	}

	.companies-btn {
		margin-top: 40px !important;
		margin-bottom: 40px !important;
	}

	form.example {
		margin-bottom: 21px;
	}
	.submit_div {
		margin-top: 2em !important;
		float: none !important;
		margin-bottom: 0em !important;
	}
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
	button.multiselect.dropdown-toggle.width_btn.btn.btn-default {
		width: 250px;
		max-width: 222px;
	}
	.container.pagination_text {
		text-align: center !important;
	}
}

/*home page one section mobile view and desk*/

@media screen and (max-width: 1291px) and (min-width: 290px) {
	.container.des-top-view {
		display: none !important;
	}
	.container.blu-section-desc {
		display: none !important;
	}
}

@media screen and (max-width: 8000px) and (min-width: 992px) {
	.container.mobile-view-box {
		display: none;
	}

	.blu-mobile-sect {
		display: none;
	}
}
/*home page one section mobile view and desk*/

@media screen and (max-width: 1199px) and (min-width: 768px) {
	.container.salary_section {
		padding-top: 149px !important;
	}
	.container.fom-job {
		padding-top: 149px !important;
	}
}

@media (max-width: 1291px) {
	.pf.dropdown ul.dropdown-menu:before {
		display: none;
	}
	.pf.dropdown ul.dropdown-menu:after {
		display: none;
	}

	.navbar-header {
		float: none;
	}
	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle .icon-bar {
		background: #fff;
	}
	.navbar-toggle {
		display: block;
		background-color: #439bd5;
		border: 1px solid #fff;
		margin-top: 15px;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}
	.navbar-nav > li {
		float: none;
	}
	.navbar-nav > li > a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in {
		display: block !important;
	}

	nav.header_main {
		background: #132437;
	}
	.top-nav ul li a {
		color: #ffffff !important;
	}

	.top-nav ul li a:hover {
		color: #ffffff !important;
	}
	a#register-button-menu {
		display: block !important;
		height: 55px;
		padding-top: 17px !important;
		border-radius: 0px !important;
		text-align: left;
		margin-top: -15px;
	}
	.btn-green {
		background-color: #fb406f !important;
	}
	#register-button {
		width: 100%;
		display: none;
	}

	a.navbar-link.margin-right {
		display: none;
	}
	span#lanNavEng {
		color: #252121 !important;
	}
	span#lanNavIta {
		color: #252121 !important;
	}

	ul.nav.navbar-right {
		margin-bottom: 95px;
	}

	.show-on-hover-pf:hover > ul.dropdown-menu {
		background-color: #fff !important;
		color: #000000;
	}
	.pf.dropdown {
		background-color: transparent !important;
		border-radius: 4px !important;
		width: 38% !important;
		margin-bottom: 70px;
		color: #000000;
	}

	ul.dropdown-menu.pf li a:hover {
		background-color: !important;
	}

	.pf.dropdown-menu > li > a {
		color: #272829 !important;
	}
	.pf.dropdown ul.dropdown-menu {
		margin-top: -5px;
	}

	.navbar-right .dropdown-menu {
		min-width: 50% !important;
	}
}

@media only screen and (max-width: 767px) {
	/* phones */
	.company-search-container {
		width: 90%;
	}
	.reviews1 {
		display: none;
	}
	.add-review-btn-mobile {
		padding: 12px;
		margin: 0 auto;
		margin-top: 20px;
		font-size: calc(85% + 1.2vw);
		background-color: #337ab7;
		display: block !important;
		width: 80%;
		text-transform: capitalize;
		font-weight: bold;
	}
	.company-search-img {
		height: auto;
		width: 190px;
		margin: 0 auto;
	}
	.company-search-desc p {
		font-size: 15px;
	}
	.btn_mob_view_only {
		//TEMPORARY: hide review,jobs,salaries buttons in mobile
		display: none;
	}
	.group_all_btn {
		width: 100%;
		margin: 0 auto;
		display: none;
		padding-top: 10px;
	}
	.hide-button-mobile {
		display: none;
	}
}

@media screen and (max-width: 1291px) and (min-width: 768px) {
	a.dropdown-toggle.boderbtn {
		padding-left: 164px !important;
		width: 50%;
	}
}
