.great-job-hm h1 {
	text-align: center;
	font-weight: bold;
	font-family: initial;
	margin-bottom: 23px;
}

.great-comp-hm h4 {
	text-align: center;
	width: 86%;
	margin: 0 auto;
	line-height: 25px;
	font-family: initial;
	margin-bottom: 40px !important;
}

.back-hm-sect-colr {
	background-color: #439bd5;
}

.great-emp-hm h1 {
	text-align: center;
	font-weight: bold;
	font-family: initial;
	margin-bottom: 23px;
	color: $white;
}
.great-discover-emp h4 {
	text-align: center;
	width: 100%;
	margin: 0 auto;
	line-height: 27px;
	font-family: initial;
	color: $white;
}

.companies-btn {
	margin-top: 50px;
	color: #222;
	font-weight: 300;
}

.out-bodr {
	color: $white;
	background-color: transparent;
	background-image: none;
	border-color: $white !important;
	font-family: initial;

	&:hover {
		color: $white;
		background-color: $outerSpace;
		border-color: $outerSpace;
	}
}

.back-hm-community {
	background-color: $concrete;
}

.panel-hm {
	.pad {
		padding: 0 15px;
	}

	&.flip {
		.action {
			display: none;
		}
	}
}

.panel-hm {
	width: 300px;
	margin: 20px;
	position: relative;
	display: inline-block;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	padding: 10px;
}

.panel-hm {
	.front {
		z-index: 900;
		height: inherit;
		background: $white;

		-moz-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1);

		-webkit-transform: rotateX(0deg) rotateY(0deg);
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;

		-moz-transform: rotateX(0deg) rotateY(0deg);
		-moz-transform-style: preserve-3d;
		-moz-backface-visibility: hidden;

		-o-transform: rotateX(0deg) rotateY(0deg);
		-o-transform-style: preserve-3d;
		-o-backface-visibility: hidden;

		-ms-transform: rotateX(0deg) rotateY(0deg);
		-ms-transform-style: preserve-3d;
		-ms-backface-visibility: hidden;

		transform: rotateX(0deg) rotateY(0deg);
		transform-style: preserve-3d;
		backface-visibility: hidden;

		-o-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;

		padding-bottom: 24px;
		padding-top: 24px;
	}

	&.flip {
		z-index: 1000;
		background: $white;

		-webkit-transform: rotateX(0deg) rotateY(0deg);
		-moz-transform: rotateX(0deg) rotateY(0deg);
		-ms-transform: rotateX(0deg) rotateY(0deg);
		-o-transform: rotateX(0deg) rotateY(0deg);
		transform: rotateX(0deg) rotateY(0deg);

		box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
		-webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);

		.front {
			z-index: 900;
			background: $white;

			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			-o-transform: rotateY(180deg);
			-ms-transform: rotateY(180deg);
			transform: rotateY(180deg);

			-moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
			-webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
			box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
		}
	}
}

.frontTitle {
	text-align: center;
	font-family: initial;
	font-size: 27px;
	color: #000;
	height: 79px;
	line-height: 23px;
	font-weight: bold;
	padding-top: 18px;
	padding-left: 8px;
	padding-right: 8px;
}

.frontLogo {
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	background-position: center center;
}

.isas {
	background-image: url("../images/home-img-3.png");
	background-size: 72% auto;
	background-position: center center;
}

.boisedigital {
	background-image: url("../images/home-img-4.png");
	background-size: 72% auto;
	background-position: center center;
}

.frontLocation {
	padding-top: 10px;
	text-align: center;
	color: #191818;
	font-family: initial;
	font-size: 18px;
	padding-left: 8px;
	padding-right: 8px;
}

.fl-ri-re button {
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 800;
	background-color: #439bd5;
	color: $white;
	font-family: initial;
	font-size: 19px;
}
.fl-ri-re button:hover {
	background-color: #3d7ba5;
}

@media screen and (max-width: 991px) and (min-width: 290px) {
	.container {
		&.desktop-view {
			display: none !important;
		}

		&.blu-section-desc {
			display: none !important;
		}
	}
}

@media screen and (max-width: 8000px) and (min-width: 992px) {
	.container.mobile-view-box {
		display: none;
	}

	.blu-mobile-sect {
		display: none;
	}
}
