.forEmployees-header {
	background: url("../images/employersBackground.png") no-repeat 0 0;
	height: 472px;
	background-size: cover;
	padding-top: 148px;
}

.frontLocation.plu {
	margin-bottom: 25px;
}

.titlestar22 {
	margin-top: 40px;
	color: #222;
	font-weight: 300;
	margin-bottom: 30px;
	font-size: 24px;
}
