.add-buttons {
	float: right;
	margin-top: -45px;
}
.add-buttons button {
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 800;
	background-color: $primary-color;
	color: $white;
	font-family: initial;
	font-size: 19px;
}
.add-buttons button:hover {
	background-color: #3d7ba5;
}
#overAllText {
	padding-right: 100px;
}

.tab_str td span {
	color: #58ace4;
	font-size: 16px;
	margin-top: 12px;
}

.tab_str {
	box-shadow: 0px 0px 9px 2px #f2f2f2;
	padding-left: 10px;
	border: 1px solid $black;
	margin-top: -19px;
	width: 80%;
	border-top: none;
	padding-top: 10px;
}

.tab_str .table td,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
	padding: 0px !important;
}

.fl_ri {
	float: right;
}

.thumb_don_bn .fa:focus,
.fa:active {
	/*color: #333;*/
	background-color: !important;
	border-color: red;
}

.accordion-toggle:after {
	font-family: "FontAwesome";
	content: "\f101";
	align-items: center;
}
.accordion-opened .accordion-toggle:after {
	content: "\f054";
}
.accordion-heading.desi_accordo {
	text-align: center;
	font-size: 18px;
}
.accordion-heading.desi_accordo a {
	text-decoration: none;
}
.accor_top {
	border-top: 1px solid #cacaca;
	padding-top: 10px;
	font-size: 15px;
	color: #0e4c75;
}

.list-group-item {
	border: 0px solid $white !important;
}

.shortcontent {
	border-bottom: 1px solid #cacaca;
	padding-bottom: 7px;
}
a.morelink {
	font-size: 15px;
	margin-left: 411px;
	text-decoration: none !important;
}
.col-md-6.bodr_lftri {
	border-right: 1px solid #cacaca;
}
.col-md-12.section_rview_back_color2 {
	padding: 25px;
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	/*  margin-top: 15px;*/
}
.section_rview_back_color08 {
	padding: 25px;
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}
.section_rview_back_color05 {
	/*padding: 25px;*/
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}
.section_rview_back_color03 {
	padding-bottom: 8px;
	padding-top: 14px;
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}
.section_rview_back_color02 {
	/* padding: 25px;*/
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}
.show-on-hover:hover > ul.dropdown-menu {
	display: block;
}

h4.head_section_font_job {
	font-size: 25px;
	color: $black;
	font-weight: bold;
	border-bottom: 3px solid #f2f2f2;
	padding-bottom: 4px;
	font-family: initial;
}
.head-rev-con {
	color: #1861bf;
	font-size: 24px;
	font-weight: 800;
}
.faaa {
	color: #3b9e3b;
}
.reco-fo {
	font-weight: 800;
}

.btbn span.fa {
	color: #58ace4;
}
.show-on-hover ul {
	padding-top: 14px;
	padding-bottom: 14px;
}
.show-on-hover ul li {
	padding-left: 19px;
	padding-top: 6px;
	margin-bottom: 10px;
	color: #383535;
}

.show-on-hover ul li span {
	color: #51ab51;
}
.btn-default.btbn {
	border-color: $white;
}
.btbn.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-color: $white !important;
	border-color: $white !important;
}
.additionb {
	margin-bottom: 6px;
}

/*salaries pages*/

.col-md-4.fl-ri-tb {
	float: right;
}

.fl-ri-tb table tr td {
	font-size: 19px !important;
	font-weight: 500;
	border-bottom: 1px solid;
}

.hed-soft p {
	font-size: 19px;
	font-weight: 600;
	color: #312f2f;
}

.progress-bar-success {
	background-color: $primary-color !important;
}

.progress1 {
	height: 12px;
	margin-bottom: 2px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 7px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-top: 8px;
}

.progress-bar1 {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 12px;
	color: $white;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

/*salaries pages  end*/

/*job page*/

.read-more-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
	border-bottom: 1px solid #eee;
}

.read-more-toggle {
	display: none;
}

.read-more-toggle-label {
	display: inline-block;
	user-select: none;
	cursor: pointer;
	border: none;
	/*padding: 5px;*/
	text-align: center;
	font-size: 14px;
	margin: 0 auto;
	width: 100%;
	color: #337ab7;
	margin-top: 21px;
}

.read-more-toggle-label:after {
	content: "Read More >";
	display: inline-block;
}

.read-more-toggle:checked + .read-more-content {
	display: block;
	/* css animation won't work with "auto"; set to some height larger
 than the content */
	max-height: 1000px;
}

.read-more-toggle:checked + .read-more-content + .read-more-toggle-label:after {
	content: "Less <";
}

article {
	/*border-top: 1px solid black;*/
}

article p {
	margin-bottom: 0.5em;
}

.h4-font-sz h4 {
	font-weight: bold;
	color: #312f2f;
}

h4.h4-font-sz-job {
	font-weight: bold;
	color: #312f2f;
}
.fl-ri {
	float: right;
	margin-top: -32px;
}

.fl-ri-app {
	float: right;
	margin-top: -41px;
}
.fl-ri-app button {
	padding-left: 19px;
	padding-right: 19px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: 800;
	background-color: $primary-color;
	color: $white;
}
.fl-ri-app button:hover {
	background-color: #3d7ba5;
}

.sect_re11 {
	padding-bottom: 12px;
	padding-top: 25px;
	padding-left: 15px;
}

td.ali-lef {
	text-align: center;
}

.sec_p p {
	color: $black;
}
.p-c-a p {
	color: $black;
}

.show-on-hover.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0) !important;
}

/*contact form*/

.fom-desg {
	width: 50%;
	margin: 0 auto;
}

.mre {
	margin-top: 13px !important;
}

.c-next-re button {
	background-color: transparent;
	border: none;
}
.c-next-re {
	margin-bottom: 4px;
}

.cont {
	margin-top: -71px;
}

.pad-r {
	margin-left: 30px;
	font-weight: 800;
}

p.mal-r {
	font-size: 17px;
	font-weight: 800;
	color: $black;
	/* border-bottom: 1px solid; */
}

.hed-soft-mob p {
	font-size: 19px;
	font-weight: 600;
	color: #312f2f;
}
.hed-soft-mob {
	margin-top: -15px;
	margin-top: 9px;
}

h3.head_section_font_25 {
	font-family: initial;
	font-size: 28px;
	font-weight: 600;
	border-bottom: 1px solid #f2f2f2;
}

@media screen and (max-width: 767px) and (min-width: 300px) {
	.container.mar_lf_ri {
		padding-left: 2em;
		padding-right: 2em;
	}

	.lef_label_one {
		margin-right: 15px;
		font-size: 15px;
	}
	.rating-md {
		font-size: 1.5em !important;
	}

	.fl_ri {
		float: none;
	}
	.num_sett h1 {
		font-size: 70px;
		float: none;
		text-align: center;
	}
	.num_sett span {
		font-size: 16px;
		float: none;
		text-align: center;
	}
	.sect_re1 td {
		font-size: 15px !important;
	}

	.nav-tabs {
		font-size: 13px;
	}
	.subr_rev {
		font-size: 15px;
		font-weight: 300;
		color: #656565;
	}
	a.morelink {
		margin-left: 10px;
	}
	.col-md-6.bodr_lft {
		border-right: none;
	}
	.col-md-4.fl-ri-tb {
		float: none !important;
	}

	.fom-desg textarea {
		width: 100%;
	}

	.fom-desg {
		width: 100% !important;
	}
	.fl-ri {
		float: none;
		margin-top: -45px;
		text-align: center !important;
	}

	.sect-rev-left {
		float: left;
	}

	.star_boder {
		width: 100%;
	}
	.tab_str {
		width: 100%;
	}
	.cont {
		margin-top: 0px;
	}

	.progress1 {
		display: none;
	}

	.tab_str {
		box-shadow: 0px 0px 0px 0px !important;
		border: none !important;
	}
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.num_sett h1 {
		font-size: 70px;
		float: none;
		text-align: center;
	}
	.num_sett span {
		font-size: 16px;
		float: none;
		text-align: center;
	}
	a.morelink {
		margin-left: 200px;
	}
	.col-md-6.bodr_lft {
		border-right: none;
	}
	.col-md-4.fl-ri-tb {
		float: none !important;
	}
	.progress1 {
		display: none;
	}
	.tab_str {
		width: 100%;
	}
	.star_boder {
		width: 100%;
	}

	.fl_ri {
		float: none;
	}
}

@media screen and (max-width: 1199px) and (min-width: 1092px) {
	a.morelink {
		margin-left: 342px;
	}
}

@media screen and (max-width: 400px) and (min-width: 300px) {
	.na_tab .nav > li {
		width: 100%;
	}

	.tab_str td span {
		font-size: 13px;
	}
	.lef_label {
		margin-right: 5px;
		font-size: 12px;
	}
}

@media screen and (max-width: 991px) and (min-width: 300px) {
	.mobil-vi-hid {
		display: none;
	}
	.mobile_view {
		display: block !important;
	}
	.mobile-progress {
		display: none !important;
	}
	.sec_p {
		padding-bottom: 0px;
	}
	.section_rview_back_color03 {
		padding-bottom: 26px;
	}
}
@media screen and (max-width: 8000px) and (min-width: 992px) {
	.mobile_view {
		display: none;
	}
	.mobil-vi-hid {
		display: block !important;
	}
}

.ava_job {
	padding-bottom: 12px;
}

@media screen and (max-width: 450px) and (min-width: 300px) {
	.add-buttons {
		float: none !important;
		margin-top: 0px;
		padding-top: 14px;
	}
}

@media screen and (max-width: 400px) and (min-width: 300px) {
	.na_tab .nav > li {
		width: 100%;
	}
	.star_boder label {
		font-size: 18px;
	}

	.star_boder span {
		font-size: 18px;
	}

	.tab_str td span {
		font-size: 13px;
	}
	.lef_label {
		margin-right: 5px;
		font-size: 12px;
	}
}
