.banner {
	height: 700px;

	background: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, 0.41)),
		url(/images/banner-img.jpg) no-repeat 0 0;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	> div {
		width: 100%;
		> h1 {
			display: block;
			margin-bottom: 40px;
			text-align: center;

			font-size: 3em;
			line-height: 1.2em;
			font-weight: 700;
			color: white;
		}
	}
}
