.button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.9rem 3.75rem;
	font-size: 2rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button:hover,
.button:focus {
	text-decoration: none;
}

.button.disabled,
.button:disabled {
	opacity: 0.65;
}

.button:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.button:not(:disabled):not(.disabled):active,
.button:not(:disabled):not(.disabled).active {
	background-image: none;
}

a.button.disabled,
fieldset:disabled a.button {
	pointer-events: none;
}

.button-prim {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button-prim:hover {
	color: #fff;
	background-color: #0069d9;
	border-color: #0062cc;
}

.button-prim:focus,
.button-prim.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.button-prim.disabled,
.button-prim:disabled {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.button-prim:not(:disabled):not(.disabled):active,
.button-prim:not(:disabled):not(.disabled).active,
.show > .button-prim.dropdown-toggle {
	color: #fff;
	background-color: #0062cc;
	border-color: #005cbf;
}

.button-prim:not(:disabled):not(.disabled):active:focus,
.button-prim:not(:disabled):not(.disabled).active:focus,
.show > .button-prim.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.button-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.button-secondary:hover {
	color: #fff;
	background-color: #5a6268;
	border-color: #545b62;
}

.button-secondary:focus,
.button-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.button-secondary.disabled,
.button-secondary:disabled {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.button-secondary:not(:disabled):not(.disabled):active,
.button-secondary:not(:disabled):not(.disabled).active,
.show > .button-secondary.dropdown-toggle {
	color: #fff;
	background-color: #545b62;
	border-color: #4e555b;
}

.button-secondary:not(:disabled):not(.disabled):active:focus,
.button-secondary:not(:disabled):not(.disabled).active:focus,
.show > .button-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.button-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.button-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #1e7e34;
}

.button-success:focus,
.button-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.button-success.disabled,
.button-success:disabled {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.button-success:not(:disabled):not(.disabled):active,
.button-success:not(:disabled):not(.disabled).active,
.show > .button-success.dropdown-toggle {
	color: #fff;
	background-color: #1e7e34;
	border-color: #1c7430;
}

.button-success:not(:disabled):not(.disabled):active:focus,
.button-success:not(:disabled):not(.disabled).active:focus,
.show > .button-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.button-info {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.button-info:hover {
	color: #fff;
	background-color: #138496;
	border-color: #117a8b;
}

.button-info:focus,
.button-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.button-info.disabled,
.button-info:disabled {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.button-info:not(:disabled):not(.disabled):active,
.button-info:not(:disabled):not(.disabled).active,
.show > .button-info.dropdown-toggle {
	color: #fff;
	background-color: #117a8b;
	border-color: #10707f;
}

.button-info:not(:disabled):not(.disabled):active:focus,
.button-info:not(:disabled):not(.disabled).active:focus,
.show > .button-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.button-warning {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.button-warning:hover {
	color: #212529;
	background-color: #e0a800;
	border-color: #d39e00;
}

.button-warning:focus,
.button-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.button-warning.disabled,
.button-warning:disabled {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.button-warning:not(:disabled):not(.disabled):active,
.button-warning:not(:disabled):not(.disabled).active,
.show > .button-warning.dropdown-toggle {
	color: #212529;
	background-color: #d39e00;
	border-color: #c69500;
}

.button-warning:not(:disabled):not(.disabled):active:focus,
.button-warning:not(:disabled):not(.disabled).active:focus,
.show > .button-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.button-danger {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.button-danger:hover {
	color: #fff;
	background-color: #c82333;
	border-color: #bd2130;
}

.button-danger:focus,
.button-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.button-danger.disabled,
.button-danger:disabled {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.button-danger:not(:disabled):not(.disabled):active,
.button-danger:not(:disabled):not(.disabled).active,
.show > .button-danger.dropdown-toggle {
	color: #fff;
	background-color: #bd2130;
	border-color: #b21f2d;
}

.button-danger:not(:disabled):not(.disabled):active:focus,
.button-danger:not(:disabled):not(.disabled).active:focus,
.show > .button-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.button-light {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.button-light:hover {
	color: #212529;
	background-color: #e2e6ea;
	border-color: #dae0e5;
}

.button-light:focus,
.button-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.button-light.disabled,
.button-light:disabled {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.button-light:not(:disabled):not(.disabled):active,
.button-light:not(:disabled):not(.disabled).active,
.show > .button-light.dropdown-toggle {
	color: #212529;
	background-color: #dae0e5;
	border-color: #d3d9df;
}

.button-light:not(:disabled):not(.disabled):active:focus,
.button-light:not(:disabled):not(.disabled).active:focus,
.show > .button-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.button-dark {
	color: #fff;
	background-color: $outerSpace;
	border-color: $outerSpace;
}

.button-dark:hover {
	color: #fff;
	background-color: #23272b;
	border-color: #1d2124;
}

.button-dark:focus,
.button-dark.focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.button-dark.disabled,
.button-dark:disabled {
	color: #fff;
	background-color: $outerSpace;
	border-color: $outerSpace;
}

.button-dark:not(:disabled):not(.disabled):active,
.button-dark:not(:disabled):not(.disabled).active,
.show > .button-dark.dropdown-toggle {
	color: #fff;
	background-color: #1d2124;
	border-color: #171a1d;
}

.button-dark:not(:disabled):not(.disabled):active:focus,
.button-dark:not(:disabled):not(.disabled).active:focus,
.show > .button-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.out-butt-prim {
	color: #007bff;
	background-color: transparent;
	background-image: none;
	border-color: #007bff;
}

.out-butt-prim:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.out-butt-prim:focus,
.out-butt-prim.focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.out-butt-prim.disabled,
.out-butt-prim:disabled {
	color: #007bff;
	background-color: transparent;
}

.out-butt-prim:not(:disabled):not(.disabled):active,
.out-butt-prim:not(:disabled):not(.disabled).active,
.show > .out-butt-prim.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.out-butt-prim:not(:disabled):not(.disabled):active:focus,
.out-butt-prim:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-prim.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.out-butt-secondary {
	color: #6c757d;
	background-color: transparent;
	background-image: none;
	border-color: #6c757d;
}

.out-butt-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.out-butt-secondary:focus,
.out-butt-secondary.focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.out-butt-secondary.disabled,
.out-butt-secondary:disabled {
	color: #6c757d;
	background-color: transparent;
}

.out-butt-secondary:not(:disabled):not(.disabled):active,
.out-butt-secondary:not(:disabled):not(.disabled).active,
.show > .out-butt-secondary.dropdown-toggle {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.out-butt-secondary:not(:disabled):not(.disabled):active:focus,
.out-butt-secondary:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-secondary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.out-butt-success {
	color: #28a745;
	background-color: transparent;
	background-image: none;
	border-color: #28a745;
}

.out-butt-success:hover {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.out-butt-success:focus,
.out-butt-success.focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.out-butt-success.disabled,
.out-butt-success:disabled {
	color: #28a745;
	background-color: transparent;
}

.out-butt-success:not(:disabled):not(.disabled):active,
.out-butt-success:not(:disabled):not(.disabled).active,
.show > .out-butt-success.dropdown-toggle {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}

.out-butt-success:not(:disabled):not(.disabled):active:focus,
.out-butt-success:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-success.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.out-butt-info {
	color: #17a2b8;
	background-color: transparent;
	background-image: none;
	border-color: #17a2b8;
}

.out-butt-info:hover {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.out-butt-info:focus,
.out-butt-info.focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.out-butt-info.disabled,
.out-butt-info:disabled {
	color: #17a2b8;
	background-color: transparent;
}

.out-butt-info:not(:disabled):not(.disabled):active,
.out-butt-info:not(:disabled):not(.disabled).active,
.show > .out-butt-info.dropdown-toggle {
	color: #fff;
	background-color: #17a2b8;
	border-color: #17a2b8;
}

.out-butt-info:not(:disabled):not(.disabled):active:focus,
.out-butt-info:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-info.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.out-butt-warning {
	color: #ffc107;
	background-color: transparent;
	background-image: none;
	border-color: #ffc107;
}

.out-butt-warning:hover {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.out-butt-warning:focus,
.out-butt-warning.focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.out-butt-warning.disabled,
.out-butt-warning:disabled {
	color: #ffc107;
	background-color: transparent;
}

.out-butt-warning:not(:disabled):not(.disabled):active,
.out-butt-warning:not(:disabled):not(.disabled).active,
.show > .out-butt-warning.dropdown-toggle {
	color: #212529;
	background-color: #ffc107;
	border-color: #ffc107;
}

.out-butt-warning:not(:disabled):not(.disabled):active:focus,
.out-butt-warning:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-warning.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.out-butt-danger {
	color: #dc3545;
	background-color: transparent;
	background-image: none;
	border-color: #dc3545;
}

.out-butt-danger:hover {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.out-butt-danger:focus,
.out-butt-danger.focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.out-butt-danger.disabled,
.out-butt-danger:disabled {
	color: #dc3545;
	background-color: transparent;
}

.out-butt-danger:not(:disabled):not(.disabled):active,
.out-butt-danger:not(:disabled):not(.disabled).active,
.show > .out-butt-danger.dropdown-toggle {
	color: #fff;
	background-color: #dc3545;
	border-color: #dc3545;
}

.out-butt-danger:not(:disabled):not(.disabled):active:focus,
.out-butt-danger:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-danger.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.out-butt-light {
	color: #f8f9fa;
	background-color: transparent;
	background-image: none;
	border-color: #f8f9fa;
}

.out-butt-light:hover {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.out-butt-light:focus,
.out-butt-light.focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.out-butt-light.disabled,
.out-butt-light:disabled {
	color: #f8f9fa;
	background-color: transparent;
}

.out-butt-light:not(:disabled):not(.disabled):active,
.out-butt-light:not(:disabled):not(.disabled).active,
.show > .out-butt-light.dropdown-toggle {
	color: #212529;
	background-color: #f8f9fa;
	border-color: #f8f9fa;
}

.out-butt-light:not(:disabled):not(.disabled):active:focus,
.out-butt-light:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-light.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
}

.out-butt-dark {
	color: $outerSpace;
	background-color: transparent;
	background-image: none;
	border-color: $outerSpace;
}

.out-butt-dark:hover {
	color: #fff;
	background-color: $outerSpace;
	border-color: $outerSpace;
}

.out-butt-dark.disabled,
.out-butt-dark:disabled {
	color: $outerSpace;
	background-color: transparent;
}

.out-butt-dark:not(:disabled):not(.disabled):active,
.out-butt-dark:not(:disabled):not(.disabled).active,
.show > .out-butt-dark.dropdown-toggle {
	color: #fff;
	background-color: $outerSpace;
	border-color: $outerSpace;
}

.out-butt-dark:not(:disabled):not(.disabled):active:focus,
.out-butt-dark:not(:disabled):not(.disabled).active:focus,
.show > .out-butt-dark.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.button-link {
	font-weight: 400;
	color: #007bff;
	background-color: transparent;
}

.button-link:hover {
	color: #0056b3;
	text-decoration: underline;
	background-color: transparent;
	border-color: transparent;
}

.button-link:focus,
.button-link.focus {
	text-decoration: underline;
	border-color: transparent;
	box-shadow: none;
}

.button-link:disabled,
.button-link.disabled {
	color: #6c757d;
}

.button-lg,
.button-group-lg > .button {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.button-sm,
.button-group-sm > .button {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.button-block {
	display: block;
	width: 100%;
}

.button-block + .button-block {
	margin-top: 0.5rem;
}

input[type="submit"].button-block,
input[type="reset"].button-block,
input[type="button"].button-block {
	width: 100%;
}
