@mixin transition($transition...) {
	-moz-transition: $transition;
	-o-transition: $transition;
	-webkit-transition: $transition;
	transition: $transition;
}

@mixin background-size($cover) {
	-webkit-background-size: $cover;
	background-size: $cover;
	-moz-background-size: $cover;
	-o-background-size: $cover;
	-ms-background-size: $cover;
}

@mixin overlay() {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.41);
	z-index: -1;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
	@if $inset {
		-webkit-box-shadow: inset $top $left $blur $color;
		-moz-box-shadow: inset $top $left $blur $color;
		box-shadow: inset $top $left $blur $color;
	} @else {
		-webkit-box-shadow: $top $left $blur $color;
		-moz-box-shadow: $top $left $blur $color;
		box-shadow: $top $left $blur $color;
	}
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin linear-gradient-b($args...) {
	background-image: -o-linear-gradient($args);
	background-image: -moz-linear-gradient($args);
	background-image: -webkit-linear-gradient($args);
	background-image: linear-gradient($args);
}

@mixin for-size($range) {
	// Small devices (landscape phones, 576px and up
	$phone-upper-boundary: 576px;
	// Medium devices (tablets, 768px and up)
	$tablet-portrait-upper-boundary: 768px;
	// Large devices (tablet landscape, 992px and up)
	$tablet-landscape-upper-boundary: 992px;
	// Extra large devices (desktops, 1200px and up)
	$desktop-upper-boundary: 1200px;

	@if $range == phone-only {
		@media (max-width: $phone-upper-boundary) {
			@content;
		}
	} @else if $range == tablet-and-down {
		@media (max-width: $tablet-portrait-upper-boundary) {
			@content;
		}
	} @else if $range == tablet-landscape-and-down {
		@media (max-width: $tablet-landscape-upper-boundary) {
			@content;
		}
	} @else if $range == big-desktop-up {
		@media (max-width: $desktop-upper-boundary) {
			@content;
		}
	}

	//uncomment when finishing developing and arranging the _index file imports the right way (small to bigger screens)
	// @if $range == phone-only {
	// 	@media (max-width: #{$phone-upper-boundary - 1}) { @content; }
	//   } @else if $range == tablet-portrait-up {
	// 	@media (min-width: $phone-upper-boundary) { @content; }
	//   } @else if $range == tablet-landscape-up {
	// 	@media (min-width: $tablet-portrait-upper-boundary) { @content; }
	//   } @else if $range == desktop-up {
	// 	@media (min-width: $tablet-landscape-upper-boundary) { @content; }
	//   } @else if $range == big-desktop-up {
	// 	@media (min-width: $desktop-upper-boundary) { @content; }
	//   }
}
