html {
	// Override the fontsize because Bootstrap interfears with Matirial-UI.
	font-size: 14px;
}

a {
	transition: 0.5s all ease;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
label {
	margin: 0;
	padding: 0;
}

.services,
.about,
.team,
.contact {
	padding: 8em 0;
}

p {
	font-size: 1.1em;
	line-height: 1.6em;
	margin-top: 0.5em;
}

.clear {
	clear: both;
}

.button-center,
.text-center {
	text-align: center;
}

.white-text-center {
	text-align: center;
	font-weight: bold;
	margin-bottom: 23px;
	color: white;
}

.add-flex-row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.add-flex-col {
	display: flex;
	flex-direction: column;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.center-element {
	margin: 0 auto;
}

.float-right {
	float: right;
}
