$lato: "Lato";
$lato-light: "Lato-Light";

$white: #fff;
$black: #000;
$concrete: #f2f2f2;
$seashell: #f1f1f1;
$blueMarguerite: #745ec5;
$vize-blue: #439bd5;
$secondary-color-red: #e35;
$accent-color: #f6f7f9;
$font-color: #888;
$gallery: #f0f0f0;
$picton-blue: #58ace4;

$base-height: 377px;
$base-dimension: 16px;
$base-border-radius: 12px;
$base-button-size: 52px;
