*filter
:INPUT   ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT  ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT -m comment --comment "Allow continuing connections."
-A INPUT -i lo   -j ACCEPT -m comment --comment "Allow all loopback trafic."
-A INPUT -p icmp -j ACCEPT -m comment --comment "Allow all ICMP."
-A INPUT -p tcp --dport 22  -m state --state NEW -j ACCEPT -m comment --comment "Allow SSH."
-A INPUT -p tcp --dport 80  -m state --state NEW -j ACCEPT -m comment --comment "Allow HTTP."
-A INPUT -p tcp --dport 443 -m state --state NEW -j ACCEPT -m comment --comment "Allow HTTPS."
-A INPUT   -j DROP -m comment --comment "Block everything else."
-A FORWARD -j DROP -m comment --comment "Block everything else."
COMMIT
