@media (max-width: 1024px) {
	.top-nav ul li a {
		font-size: 1.1em;
	}

	ul.dropdown-menu li a {
		font-size: 1em;
	}

	.banner-text h2 {
		font-size: 2.6em;
	}

	.banner,
	.banner-info {
		min-height: 600px;
	}

	.banner-text-info {
		margin: 17em auto 0;
	}

	.welcome,
	.tabs,
	.services,
	.slid,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 6em 0;
	}

	.welcome {
		&-text {
			&.wtext-left {
				padding-left: 0;
			}
		}

		&-info {
			margin-top: 1.2em;
		}
	}

	.pince:nth-child(2) {
		margin: 2.1em 0;
	}

	.testimonials-grid {
		margin-top: 2em;
	}
}
