@media (max-width: 1240px) {
	.banner-text {
		h2 {
			font-size: 1.8em;
		}

		h3 {
			font-size: 1em;
		}
	}

	.banner {
		min-height: 410px;

		&-info {
			min-height: 410px;
		}

		&-text-info {
			margin: 10em auto 0;
		}
	}

	.callbacks_tabs {
		left: 42.5%;
	}

	.welcome-left,
	.tabs-right {
		float: none;
		width: 60%;
		margin: 0 auto;
	}

	.welcome-right {
		float: none;
		width: 100%;
		margin-top: 2em;
	}

	.tabs-left {
		float: none;
		width: 100%;
		margin-bottom: 2.5em;
	}

	.tabs .nav-tabs li a {
		padding: 1.5em;
	}

	.welcome,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 4em 0;
	}

	.servc {
		&-grids {
			margin-top: 0;
		}

		&-grid {
			float: none;
			width: 100%;
			padding: 0;
			margin-top: 2em;

			&:nth-child(2) {
				padding: 0;
			}

			&-left {
				text-align: center;

				span {
					font-size: 1.3em;
				}
			}
		}
	}

	.slid {
		&-grids {
			margin: 0 1.5em;
			padding: 2em 0;
		}

		h4 {
			font-size: 1.8em;
		}

		h5 {
			font-size: 1.2em;
		}
	}

	.footer-grids {
		float: none;
		width: 100%;
		padding: 0;

		&:nth-child(1) {
			padding: 0;
		}

		&:nth-child(2) {
			margin: 1em 0;
		}
	}

	.footer {
		a.footer-img {
			width: 14%;
		}

		&-bottom {
			a {
				margin: 0 0.5em;
			}

			span {
				left: -20px;
				right: -20px;
				font-size: 0.9em;

				&:before {
					left: 33px;
				}
			}
		}
	}

	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 190px;
	}

	.about h4 {
		font-size: 1.5em;
	}

	.testimonials-grid {
		margin-top: 1em;
	}

	.ch-grid li {
		width: 141px;
		height: 141px;
		margin: 2px;
	}

	.ch-item {
		box-shadow: inset 0 0 0 0 rgba(116, 94, 197, 0.4),
			inset 0 0 0 7px rgba(255, 255, 255, 0.6),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}

	.team-grids {
		margin: 1.5em 0 0;
	}

	.ch-item:hover {
		box-shadow: inset 0 0 0 110px rgb(116, 94, 197),
			inset 0 0 0 7px rgba(255, 255, 255, 0.8),
			0 1px 2px rgba(0, 0, 0, 0.1);
	}

	.ch-info {
		h3 {
			font-size: 1.2em;
			padding: 30px 0 0 0;
		}

		p {
			font-size: 0.9em;
			margin: 11px 9px 1px;
		}
	}

	.ch-item {
		.footer-bottom {
			a {
				padding: 0;

				&:nth-of-type(2) {
					&:before {
						background-position: 1px -21px;
					}
				}
			}
		}
	}

	.comment-icons ul li {
		margin-right: 1.5em;
	}

	.coment-form input[type="text"] {
		width: 48.3%;
	}

	.view {
		width: 187px;
		height: 127px;

		.mask,
		.content {
			width: 178px;
			height: 117px;
		}

		p {
			margin: 2.2em auto 0;
			width: 86%;
			font-size: 0.8em;
		}
	}
}
