@media (max-width: 414px) {
	button.navbar-toggle {
		margin-top: 0.3em;
	}

	.banner-text {
		h2 {
			font-size: 1.5em;
		}

		&-info {
			width: 89%;
		}
	}

	.more {
		margin-top: 1.5em;
	}

	.callbacks_tabs {
		left: 42.5%;

		li {
			margin: 0;
		}

		a:after {
			height: 11px;
			width: 11px;
		}
	}

	.welcome-left,
	.tabs-right {
		width: 80%;
	}

	p {
		font-size: 0.9em;
	}

	.tab-grid-left {
		width: 100%;
	}

	.tabs {
		.nav-tabs {
			float: none;

			li {
				float: left;
				width: 32%;
				margin: 0 2px 0 0;

				a {
					padding: 1em;
					text-align: center;
				}
			}
		}
	}

	.welcome-left,
	.tabs-right {
		width: 100%;
	}

	.tab-grid-right {
		padding: 0 1em;
		width: 100%;
	}

	.slid-grids {
		width: 29%;
	}

	.slid .more a {
		padding: 0.4em 1em;
		font-size: 0.9em;
	}

	.footer a.footer-img {
		width: 19%;
	}

	h3.title {
		font-size: 2.6em;
	}

	.about h4 {
		font-size: 1.4em;
	}

	.admin-text-right p {
		font-size: 0.9em;
	}

	.related-grids {
		width: 50%;
	}

	.thumbnail {
		margin-bottom: 12px;
	}

	.related-grids {
		margin-bottom: 1em;
	}

	.related-posts {
		padding: 2em 0;
	}

	.response-text-right ul li {
		font-size: 0.9em;
	}

	.single-page h3 {
		font-size: 2em;
		margin-bottom: 0.4em;
	}

	.coment-form {
		margin-top: 2em;
	}

	.coment-form input[type="text"],
	.coment-form textarea,
	.coment-form input[type="submit"] {
		font-size: 0.9em;
	}

	.blog ul li a {
		font-size: 0.9em;
	}

	.comment-icons {
		padding: 2em 0 1em;
	}

	.admin-text-right span {
		font-size: 0.9em;
	}

	.footer h3 {
		font-size: 2em;
	}
}
