@media (max-width: 480px) {
	.table {
		h1 {
			font-size: 26px;
		}

		h2 {
			font-size: 23px;
		}

		h3 {
			font-size: 20px;
		}
	}

	.label {
		font-size: 53%;
	}

	.alert,
	p {
		font-size: 14px;
	}

	.pagination {
		margin: 20px 0 0px;
	}

	.callbacks_tabs {
		left: 39.5%;
	}

	.slid-grids {
		margin: 0 0.5em;
		width: 30%;
		padding: 1.5em 0;
	}

	.slid {
		h4 {
			font-size: 1.6em;
		}

		.more {
			a {
				padding: 0.7em 1.2em;
			}
		}
	}

	.banner.static-page-banner,
	.static-page-banner .banner-info {
		min-height: 165px;
	}

	.static-page-banner .banner-text {
		padding-top: 7em;
	}

	.banner {
		min-height: 400px;

		&-info {
			min-height: 400px;
		}

		&-text {
			h2 {
				font-size: 1.6em;
			}

			&-info {
				width: 81%;
			}
		}
	}

	.welcome,
	.tabs,
	.services,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 3em 0;
	}

	.about-grids {
		padding: 0;
	}

	p {
		line-height: 1.8em;
	}

	.pince-left {
		width: 12%;
		padding: 0.8em;
	}

	.pince-right {
		width: 82%;
	}

	.testimonials-grid {
		p {
			font-size: 0.9em;
		}

		h5 {
			font-size: 1.1em;
		}
	}

	.ch-grid li {
		width: 170px;
		height: 170px;
		margin: 10px;
	}

	.ch-info h3 {
		padding: 45px 0 0 0;
	}

	.gallery-grids {
		margin-top: 2em;
	}

	h3.hdg {
		font-size: 2em;
	}

	.blog-grids {
		margin-top: 2em;
		padding: 0;
	}

	.view {
		width: 206px;
		height: 137px;

		.mask,
		.content {
			width: 196px;
			height: 127px;
		}

		p {
			margin: 3.5em auto 0;
		}
	}

	.single-page-left {
		padding: 0;
	}

	.comment-icons ul li {
		margin-bottom: 1em;
	}

	.blog {
		h4 {
			font-size: 1.6em;
		}

		p.snglp {
			font-size: 0.9em;
		}
	}

	.contact-grid {
		padding: 0;

		iframe {
			min-height: 240px;
		}
	}

	.admin-text {
		padding: 1.5em;
	}

	.coment-form {
		input[type="text"] {
			width: 100%;

			&:nth-child(1) {
				margin-right: 0;
			}
		}
	}

	.blog-tags {
		margin-top: 2em;
	}
}
