@media (max-width: 900px) {
	.address {
		margin-top: 3em;
	}

	.banner-text {
		h2 {
			font-size: 2.4em;
		}

		h3 {
			font-size: 1.2em;
		}
	}

	.banner-text-info {
		width: 64%;
	}

	.more {
		margin-top: 2em;

		a {
			padding: 0.7em 2em;
		}
	}

	.banner,
	.banner-info {
		min-height: 525px;
	}

	.banner-text-info {
		margin: 14em auto 0;
	}

	.full-width-container,
	.tabs,
	.services,
	.slid,
	.footer,
	.about,
	.team,
	.codes,
	.contact,
	.gallery,
	.blog {
		padding: 5em 0;
	}

	.testimonials {
		padding: 4em 0 8em;

		p {
			font-size: 1.2em;
		}

		h5 {
			font-size: 1.3em;
		}
	}

	.flexslider .slides img {
		width: 6%;
	}

	.about-info {
		margin-top: 2em;
	}

	.about-banner .banner-text {
		padding-top: 10em;
	}

	.banner.about-banner,
	.about-banner .banner-info {
		min-height: 240px;
	}

	.blog h4 {
		font-size: 1.8em;
	}
}
