.review-submitted {
	margin-top: 250px;
	margin-bottom: 250px;

	.container {
		padding: 50px;
	}

	h2 {
		font-weight: bold;
	}

	p {
		color: black;
		text-align: center;
		& + p {
			margin-bottom: 10px;
		}
		&:first-child {
			margin-top: 10px;
		}
	}

	.rewards {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		.reward {
			width: 22%;
			border: 1px solid #d4d1d1;
			border-radius: 4px;
			padding: 5px;
			margin: 5px;
			margin-top: 15px;
			position: relative;
			@media only screen and (max-width: 993px) {
				width: 35%;
			}
			@media only screen and (max-width: 625px) {
				width: 80%;
			}

			.reward-visual {
				position: relative;

				img {
					text-align: center;
					display: block;
					border-radius: 50%;
					border: 1px solid #d4d1d1;
					padding: 5px;
					margin: auto;
					margin-top: 5px;
					margin-bottom: 15px;
				}

				p {
					position: absolute;
					color: white;
					background: $primary-color;
					border-radius: 100%;
					padding: 5px;
					font-weight: bold;
					top: 1px;
					right: 55px;
					display: block;
					width: 35px;
					border: 1px solid #d4d1d1;
				}
			}

			p {
				padding: 2px;
				margin-bottom: 20px;
			}

			a {
				font-weight: bold;
				font-size: 18px;
				padding: 15px;
				margin: 10px;
				border: 1px solid #d4d1d1;
				border-radius: 4px;
				display: block;
				&:hover {
					border: 1px solid rgba(0, 0, 0, 0.8);
					cursor: pointer;
				}
			}
		}
	}
}

// modal inner markup styling
form {
	input[type="tel"] {
		width: 100%;
		padding: 2px;
	}
	input[type="submit"] {
		float: right;
		margin-top: 5px;
		padding: 5px;
		padding-left: 15px;
		padding-right: 15px;
		background-color: $primary-color;
		border: 1px solid #d4d1d1;
		outline: none;
		color: white;
		font-weight: bolder;
	}
}

// widget styling
// can be refactored if we needed to refactor success widget to a component
.success-widget {
	width: 100%;
	text-align: center;
	h3 {
		color: $primary-color;
		font-weight: bold;
		padding: 25px;
		font-size: 40px;
		@media only screen and (max-width: 1292px) {
			margin-top: 68px;
		}
	}
}

//widget animation
.success-enter {
	opacity: 0.01;
}

.success-enter.success-enter-active {
	opacity: 1;
	transition: opacity 700ms ease-in;
}

// can be used if we wanted to make the success widget vanish after a while

//   .example-leave {
//     opacity: 1;
//   }

//   .example-leave.example-leave-active {
//     opacity: 0.01;
//     transition: opacity 2000ms ease-in;
//   }
