.banner {
	background: url(../images/banner-img.jpg) no-repeat 0 0;
	min-height: 700px;
	position: relative;
	z-index: 1;
	@include background-size(cover);

	&::before {
		@include overlay();
	}

	&-text {
		padding: 19em 0 0;
		color: $white;

		&-info {
			width: 70%;
			text-align: center;
			margin: 0 auto;

			input[type="text"] ::-webkit-input-placeholder,
			input[type="text"] :-moz-placeholder,
			input[type="text"] :-ms-input-placeholder,
			input[type="text"] ::-moz-placeholder {
				color: #747474;
				opacity: 1;
			}
		}

		h1 {
			font-size: 3em;
			line-height: 1.2em;
			font-weight: bold;
			margin-bottom: 40px;
		}
	}
}

.open > a,
.nav .open {
	border: 0px solid $white !important;
}

.show-on-hover-pf:hover > ul.dropdown-menu {
	display: block;
}

.dp-profile {
	height: 40px;
	width: 40px;
	border-radius: 50%;
}

ul.dropdown-menu.pf {
	li {
		margin: 0 auto;

		a {
			&:hover {
				background-color: #439bd5;
				color: #5959ff !important;
			}
		}
	}
}

#app-root > div {
	padding-top: 1px;
}
