// This SCSS file contains the code for all the different types of buttons
// that are used on the site

.button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.9rem 3rem;
	font-size: 2rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:focus,
	&:active {
		text-decoration: none;
	}

	&.white-button {
		&:focus,
		&:active {
			color: $white;
		}
	}

	&.black-border-button {
		color: $outerSpace;
		background-color: transparent;
		background-image: none;
		border-color: $outerSpace;
		border-width: 4px;
		font-weight: 700;

		&:hover {
			color: $white;
			background-color: $outerSpace;
		}
	}
}

.white-button {
	color: $white;
	background-color: transparent;
	background-image: none;
	border-color: $white !important;
	border-width: 4px;
	font-weight: 700;

	&:hover {
		color: $white;
		background-color: $outerSpace;
		border-color: $outerSpace;
	}
}

.vize-blue-button {
	background-color: $vize-blue;
	color: $white;
	font-weight: bold;
	border: 1px solid #87bcdf;

	&:hover {
		background-color: #7bb3d6;
	}
}
