.dropdown {
	$this: &;
	display: inline-block;
	.dropdown {
		position: relative;

		&.dropdown--active {
			border: none;
		}
		&__trigger {
			display: block;
			width: 100%;
			padding: 10px 40px 10px 10px !important;
		}
	}
	&__content {
		display: none;
		position: absolute;
		z-index: 2;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&--active {
		#{$this}__content {
			display: block;
			background: white;
			ul {
				list-style-type: none;
				li {
					margin: 0;
					padding-top: 4px;
					padding-bottom: 4px;
					width: 140px;
					button {
						display: block;
						text-align: left;
						padding-left: 8px;
					}
					&:hover {
						background: $vize-blue;
					}
				}
				span {
					text-transform: uppercase;
					margin-left: 5px;
				}
			}
		}
	}
}
