.container-contact {
	width: 100%;
	min-height: 100vh;
	@include flexbox();
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;

	&-form-btn {
		width: 100%;
		@include flexbox();
		flex-wrap: wrap;
		justify-content: center;
		margin-top: -4px;

		.contact-form-btn {
			font-family: Raleway-Bold;
			font-size: 16px;
			color: $white;
			line-height: 1.2;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			min-width: 150px;
			height: 55px;
			border-radius: 27px;
			background: #d867c6;
			position: relative;
			z-index: 1;
			border: none;
			@include linear-gradient-b(45deg, #c77ff2, #e8519e);
			@include transition(all 0.4s);
			@include flexbox();

			&::before {
				content: "";
				display: block;
				position: absolute;
				z-index: -1;
				border-radius: 27px;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: #333;
				opacity: 1;
				-webkit-transition: all 0.4s;
				-o-transition: all 0.4s;
				-moz-transition: all 0.4s;
				transition: all 0.4s;
			}

			&:hover:before {
				opacity: 0;
			}
		}
	}

	.wrap-contact {
		width: 790px;
		background: $concrete;
		border-radius: 2px;
		padding: 25px 39px 45px 39px;
	}

	.contact-form {
		width: 100%;
		@include flexbox();
		flex-wrap: wrap;
		justify-content: space-between;
		&-title {
			width: 100%;
			display: block;
			font-size: 30px;
			color: #585858;
			line-height: 1.2;
			text-align: center;
			padding-bottom: 45px;
		}

		.wrap-input {
			width: 100%;
			position: relative;
			border-radius: 2px;
			margin-bottom: 34px;
		}

		.input {
			display: block;
			width: 100%;
			font-family: Raleway-SemiBold;
			font-size: 18px;
			color: #333;
			line-height: 1.2;
			padding: 0 25px;
		}

		input.input {
			height: 55px;
			border: none;
			&:hover {
				border-color: $secondary-color;
			}
		}

		textarea.input {
			min-height: 162px;
			padding-top: 19px;
			padding-bottom: 15px;
			border: none;
		}
	}
}

.login,
.register {
	.flex-container {
		display: flex;

		.vertical-mockup {
			display: none;
		}

		@media only screen and (min-width: 767px) {
			.vertical-mockup {
				display: block;
				background-color: $primary-color;
				width: 40%;
				height: 80vh;
				background-image: url("images/factory.jpg");
				background-position: 85% 70%;
				background-repeat: no-repeat;
				background-size: cover;
				.overlay {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					width: 100%;
					height: 100%;
					overflow: auto;
					background: rgba(0, 0, 0, 0.6);
					img {
						width: 50%;
					}
					p {
						font-weight: bold;
						font-size: 1.8em;
						color: white;
					}
				}
			}
			.container {
				width: 60% !important;
				display: flex;
				justify-content: center;
				.panel-login {
					margin-top: 20%;
				}
				& > .row {
					width: 100%;
					display: flex;
					@media only screen and (min-width: 767px) and (max-width: 997px) {
						justify-content: center;
					}
				}
			}
		}
	}

	.login-fm {
		.login-label {
			position: relative;
			z-index: 20;
			bottom: -10px;
			left: 10px;
			background: white;
			display: inline;
			padding: 1px 5px;
			font-weight: bold;
			&-warning {
				color: red;
			}
		}
		.warning-input[type="password"] {
			border: 2px solid red;
			color: red;
		}
		.warning-input[type="text"] {
			border: 2px solid red;
			color: red;
		}
		.message {
			color: red;
			text-align: left;
			margin-top: 5px;
			position: relative;
			span {
				font-weight: bold;
				margin-left: 4px;
			}
		}
	}
}
