.stepwizard-step2 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}
.stepwizard-step3 button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.form-group {
	&.company {
		padding-top: 25px;
		padding-bottom: 28px;
	}
}

.checked {
	color: orange;
}

.btn-primary.backBtn2 {
	margin-right: 24px;
}

.form-control {
	&_select3,
	&_select4,
	&_select5,
	&_select6 {
		display: block;
		width: 48%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: $white;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		-webkit-transition: border-color ease-in-out 0.15s,
			-webkit-box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s,
			box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		margin-bottom: 15px;
	}

	&_select3 {
		float: left;
	}

	&_select4 {
		float: right;
	}

	&_select5 {
		width: 28%;
		float: left;
	}

	&_select6 {
		width: 70%;
		float: right;
	}
}

#backgd_color {
	background-color: $gallery !important;
}

.na_tab ul {
	background-color: $black;
}

.nav-tabs {
	border-bottom: 0px solid $black !important;
	font-family: sans-serif;
	font-size: 17px;
}

.na_tab .nav > li :hover {
	background-color: $vize-blue;
	color: $white;
}

.na_tab {
	padding-top: 31px;

	.nav > li {
		border-right: none !important;
		width: 20%;
	}

	.nav-tabs > li {
		& > a,
		& > a:hover,
		& > a:focus {
			border-radius: 0px 0px 0 0 !important;
			text-align: center;
			color: $white !important;
			border: 0px solid #ddd !important;
			border-bottom: 1px solid #4395cc !important;
		}
	}

	ul li a {
		color: $white !important;
	}
}

li.te_deco {
	list-style-type: none;
}

.log {
	margin-top: 20px;
	z-index: 9999;
	position: absolute;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.back_colo {
	background-color: $white;
}

.back_top_hover {
	box-shadow: 0px 1px 3px 0px;
}

.col-md-12.back_colo {
	padding: 10px;
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.col-md-12.back_colo1 {
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.section_rview_back_color_job {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_rview_back_color {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.section_rview_back_color3 {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_over2 {
	background-color: $white;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_over3 {
	background-color: $white;
	margin-top: 15px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_overtopsect {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_over_revi2 {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.col-md-12.back_colo1 {
	margin-bottom: 15px;
	background-color: $white;
}

.num_sett span {
	font-size: 16px;
	float: left;
	margin-top: 20px;
}
.num_sett h1 {
	font-size: 70px;
	float: right;
}

.bodr_lft {
	margin-top: 16px;
}

.lef_label {
	float: left;
	margin-right: 9px;
	line-height: 36px;
	font-size: 13px;
}

.over_p {
	p {
		font-size: 17px;
		color: #444343;
	}

	span {
		font-weight: bold;
		color: $black;
	}
}

.bodr_lft {
	border-right: 1px solid #cacaca;
}

.hed-soft {
	margin-top: -15px;
}

.checked {
	color: orange !important;
}

.mar_pad {
	margin-left: -14px;
}
.rev_section {
	padding: 14px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-default:focus,
.btn-default:active {
	color: $white;
	background-color: red;
	border-color: red;
}

.btn-default:active {
	background-color: red !important;
	border-color: red;
	color: $white;
}

.btn-default:focus,
.btn-default.focus,
.btn-default:active {
	color: $white;
	background-color: #30ad23;
	border-color: #30ad23;
}

.btn-default:active {
	color: $white;
	background-color: #30ad23 !important;
	border-color: #30ad23;
}

#backgd_color {
	background-color: $gallery !important;
}

.na_tab ul {
	background-color: $black;
}

.nav-tabs {
	border-bottom: 0px solid $black !important;
	font-family: sans-serif;
	font-size: 17px;
}

.na_tab .nav > li {
	border-right: none !important;
	width: 20%;

	&:hover {
		background-color: $vize-blue;
		color: $white;
	}
}

.na_tab {
	padding-top: 31px;
}

.na_tab .nav-tabs > li > a {
	border: none !important;
	border-radius: 0px 0px 0 0 !important;
	color: $white !important;
	text-align: center;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	color: $white !important;
	cursor: default !important;
	background-color: $vize-blue !important;
	border: 0px solid #ddd !important;
	border-bottom: 1px solid #4395cc !important;
}

li.te_deco {
	list-style-type: none;
}

.log {
	margin-top: 20px;
	z-index: 9999;
	position: absolute;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.back_colo {
	background-color: $white;
}
.back_top_hover {
	box-shadow: 0px 1px 3px 0px;
}

.col-md-12.back_colo {
	padding: 10px;
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.col-md-12.back_colo1 {
	box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.section_rview_back_color_job {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_rview_back_color {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
}

.section_rview_back_color3 {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.section_over2 {
	background-color: $white;
	margin-top: 16px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_over3 {
	background-color: $white;
	margin-top: 15px;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.section_overtopsect {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}
.section_over_revi2 {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	padding-bottom: 16px;
	padding-top: 16px;
}

.col-md-12.back_colo1 {
	margin-bottom: 15px;
	background-color: $white;
}

.num_sett {
	span {
		font-size: 16px;
		float: left;
		margin-top: 20px;
	}

	h1 {
		font-size: 70px;
		float: right;
	}
}

.bodr_lft {
	margin-top: 16px;
}

.lef_label {
	float: left;
	margin-right: 9px;
	line-height: 36px;
	font-size: 13px;
}

.over_p {
	p {
		font-size: 17px;
		color: #444343;
	}

	span {
		font-weight: bold;
		color: $black;
	}
}

.bodr_lft {
	border-right: 1px solid #cacaca;
}

.hed-soft {
	margin-top: -15px;
}

.checked {
	color: orange !important;
}

.mar_pad {
	margin-left: -14px;
}

.rev_section {
	padding: 14px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
	outline: 0px auto -webkit-focus-ring-color !important;
}

.btn-default:focus,
.btn-default:active {
	color: $white;
	background-color: red;
	border-color: red;
}

.btn-default:active {
	background-color: red !important;
	border-color: red;
	color: $white;
}

.btn-default:focus,
.btn-default.focus,
.btn-default:active {
	color: $white;
	background-color: #30ad23;
	border-color: #30ad23;
}

.btn-default:active {
	color: $white;
	background-color: #30ad23 !important;
	border-color: #30ad23;
}
