.services,
.footer,
.about,
.team,
.contact,
.gallery {
	padding: 8em 0;
}

.welpad12 {
	background-color: $white;

	&.box_shadow {
		box-shadow: 1px 1px 5px 1px #dac1c1;
	}
}

.prostar {
	margin-bottom: 16px;
	margin-top: 16px;
}

.star_border {
	width: 80%;
	padding-top: 11px;
	background-color: $concrete;
	padding-bottom: 9px;
	padding-left: 9px;
}

.rating {
	border: none;
	float: left;

	& > input {
		display: none;
	}

	& > label {
		color: #ddd;
		float: right;

		&:before {
			margin: 5px;
			font-size: 1.25em;
			font-family: FontAwesome;
			display: inline-block;
			content: "\f005";
		}
	}

	& > .half:before {
		content: "\f089";
		position: absolute;
	}

	& > input:checked ~ label,
	&:not(:checked) > label:hover,
	& > input:checked + label:hover,
	& > input:checked ~ label:hover,
	& > label:hover ~ input:checked ~ label,
	& > input:checked ~ label:hover ~ label,
	&:not(:checked) > label:hover ~ label {
		color: #ffd700;
	}
}

span.headingoo {
	font-size: 24px;
	font-weight: bold;
}

.row.all_boxcolor1.select_box {
	padding-top: 2em;
	padding-bottom: 2em;
	background: $white;
	box-shadow: 0px 1px 3px 0px;
	margin-bottom: 28px;
}

.company-search-container {
	padding-top: 2em;
	padding-bottom: 2em;
	background: $white;
	box-shadow: 0px 0px 3px 0px;
	margin-bottom: 34px;
	background-color: $white;
	height: auto;
}

.company-search-img {
	height: auto;
	max-width: 220px;

	img {
		box-shadow: 0px 0px 0px 3px $concrete;
	}
}

.goo {
	font-size: 24px;
	color: #aaa !important;
	font-weight: 600;
}

.locahed h4 {
	line-height: 2em;
	font-size: 16px;

	span {
		color: #aaa !important;
		font-weight: bold;
	}
}

.company-search-desc p {
	font-size: 18px;
	font-weight: 600;
	color: #000 !important;
	margin-top: 0px;
}

.locahed h4 i {
	color: #aaa !important;
}

.reviews1 {
	margin-top: 4px;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 10px;
	text-align: left;

	ul {
		li {
			display: inline-block;
			list-style: none;
			width: 76px;
			font-size: 18px;
			font-weight: 600;

			&:hover {
				background-color: $concrete;
				text-decoration: none;
			}

			&:active {
				background-color: #aaa;
			}
		}
	}
}

.review_text {
	color: #aaa;
	font-size: 15px;
	font-weight: 600;
}

.add-review-btn-mobile {
	display: none;
}

.group_all_btn {
	display: none;
}

.add-buttons {
	float: right;
	position: absolute;
	right: 12px;
	top: 16px;

	button {
		padding-left: 19px;
		padding-right: 19px;
		padding-top: 8px;
		padding-bottom: 8px;
		font-weight: 800;
		background-color: $vize-blue;
		color: $white;
		font-family: initial;
		font-size: 19px;

		&:hover {
			background-color: #3d7ba5;
		}
	}
}

.tab_str td span {
	color: $picton-blue;
	font-size: 16px;
	margin-top: 12px;
}

.num_sett span {
	float: none;
	text-align: left;
	display: inline-block;
	margin-top: 0;
}

li.te_deco > a {
	display: inline-block;
}

.mar_lf_ri {
	padding-bottom: 60px;
}

.tab-pane > .section_rview_back_color05 {
	padding-left: 0;
	padding-right: 0;
	background: transparent;
	box-shadow: none;
}

.na_tab .nav > li span:hover {
	color: $white;
	background: transparent;
}

div.num_sett h1 {
	font-size: 38px;
}

path.CircularProgressbar-trail {
	fill: #546e7a !important;
	fill-opacity: 1 !important;
}

.CircularProgressbar {
	text.CircularProgressbar-text {
		fill: $white;
	}

	path.CircularProgressbar-trail {
		stroke: transparent;
	}

	path.CircularProgressbar-path {
		stroke-linecap: square;
	}
}

.tab_str + .col-md-6 {
	> div {
		width: 30% !important;
	}
}

.tab_str {
	padding-left: 0;
	padding-right: 100px;
	border-right: 1px solid #f5f5f5;

	table {
		width: 100%;
		border-bottom: 1px solid $picton-blue;
		border-left: 1px solid $picton-blue;
		border-right: 1px solid $picton-blue;
		border-collapse: separate;
		padding: 10px 15px;

		tbody {
			tr {
				td {
					&:last-child {
						text-align: right;
						label {
							position: relative;
							top: -3px;
						}
					}

					label span {
						color: #333;
					}

					.row {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
	}

	.star_boder {
		background: #f5f5f5;
		padding: 10px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 100%;

		label {
			font-size: 24px;
			line-height: 1;
			margin-top: 6px;
			font-weight: 700;
		}
	}

	.star-ratings {
		top: -3px;
	}
}

#reviews {
	.section_over_revi2 {
		margin-top: 15px;
	}

	.rev_section {
		padding: 0 10px;
	}
}

#overview {
	.section_overtopsect {
		padding: 15px 10px;

		.section_over_revi2 {
			padding: 0;
			box-shadow: none;
		}
	}
}

.section_rview_back_color03,
.section_rview_back_color2,
.section_rview_back_color_job,
.section_rview_back_color08 {
	overflow: auto;

	&::after {
		content: "";
		clear: both;
		display: table;
	}
}

.thumb_don_bn .fa:focus,
.fa:active {
	/*color: #333;*/
	border-color: red;
}

.accordion-toggle:after {
	font-family: "FontAwesome";
	content: "\f101";
	align-items: center;
}

.accordion-opened .accordion-toggle:after {
	content: "\f054";
}

.accordion-heading.desi_accordo {
	text-align: center;
	font-size: 18px;
}

.accordion-heading.desi_accordo a {
	text-decoration: none;
}

.accor_top {
	border-top: 1px solid #cacaca;
	padding-top: 10px;
	font-size: 15px;
	color: #0e4c75;
}

.shortcontent {
	border-bottom: 1px solid #cacaca;
	padding-bottom: 7px;
}

.bodr_lftri {
	border-right: 1px solid #cacaca;
}

.section_rview_back {
	&_color2,
	&_color08,
	&_color05,
	&_color03,
	&_color02 {
		background-color: $white;
		box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08),
			0 2px 4px 0 rgba(0, 0, 0, 0.12);
	}

	&_color2 {
		padding: 25px;
	}

	&_color08 {
		padding: 25px;
		margin-top: 15px;
	}

	&_color05 {
		margin-top: 15px;
	}

	&_color03 {
		padding-bottom: 8px;
		padding-top: 14px;
	}

	&_color02 {
		margin-top: 15px;
	}
}

.show-on-hover:hover > ul.dropdown-menu {
	display: block;
}

//find great employers classes
.great {
	&-job-hm h1 {
		text-align: center;
		font-weight: bold;
		margin-bottom: 23px;
	}

	&-comp-hm h4 {
		text-align: center;
		width: 86%;
		margin: 0 auto 40px;
		line-height: 25px;
	}

	&-discover-emp h4 {
		text-align: center;
		width: 100%;
		margin: 0 auto;
		line-height: 27px;
		color: $white;
	}
}

.head-rev-con {
	color: #1861bf;
	font-size: 24px;
	font-weight: 800;
}

.btbn span.fa {
	color: $picton-blue;
}

.show-on-hover {
	ul {
		padding-top: 14px;
		padding-bottom: 14px;

		li {
			padding-left: 19px;
			padding-top: 6px;
			margin-bottom: 10px;
			color: #383535;

			span {
				color: #51ab51;
			}
		}
	}
}

.btn-default.btbn {
	border-color: $white;
}

.btbn.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-color: $white !important;
	border-color: $white !important;
}

.hed-soft p {
	font-size: 19px;
	font-weight: 600;
	color: #312f2f;
}

.progress-bar-success {
	background-color: $vize-blue !important;
}

.progress1 {
	height: 12px;
	margin-bottom: 2px;
	overflow: hidden;
	background-color: #f5f5f5;
	border-radius: 7px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	margin-top: 8px;
}

.progress-bar1 {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	line-height: 12px;
	color: $white;
	text-align: center;
	background-color: #428bca;
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: width 0.6s ease;
	-o-transition: width 0.6s ease;
	transition: width 0.6s ease;
}

.read-more-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease;
	border-bottom: 1px solid #eee;
}

.read-more-toggle {
	display: none;

	&-label {
		display: inline-block;
		user-select: none;
		cursor: pointer;
		border: none;
		text-align: center;
		font-size: 14px;
		margin: 0 auto;
		width: 100%;
		color: #337ab7;
		margin-top: 21px;

		&:after {
			content: ">";
			display: inline-block;
		}
	}

	&:checked + .read-more-content {
		display: block;
		max-height: 1000px;
	}

	&:checked + .read-more-content + .read-more-toggle-label:after {
		content: "<";
	}
}

article p {
	margin-bottom: 0.5em;
}

.h4-font-sz h4 {
	font-weight: bold;
	color: #312f2f;
}

h4.h4-font-sz-job {
	font-weight: bold;
	color: #312f2f;
}

.sect_re11 {
	padding-bottom: 12px;
	padding-top: 25px;
	padding-left: 15px;
}

td.ali-lef {
	text-align: center;
}

.sec_p p {
	color: $black;
}

.p-c-a p {
	color: $black;
}

.show-on-hover.btn-group.open .dropdown-toggle {
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0) !important;
}

.mre {
	margin-top: 13px !important;
}

.c-next-re button {
	background-color: transparent;
	border: none;
}

.c-next-re {
	margin-bottom: 4px;
}

.cont {
	margin-top: -71px;
}

.pad-r {
	margin-left: 30px;
	font-weight: 800;
}

p.mal-r {
	font-size: 17px;
	font-weight: 800;
	color: $black;
	/* border-bottom: 1px solid; */
}

.hed-soft-mob p {
	font-size: 19px;
	font-weight: 600;
	color: #312f2f;
}

.hed-soft-mob {
	margin-top: -15px;
	margin-top: 9px;
}

h3.head_section_font_25 {
	font-family: initial;
	font-size: 28px;
	font-weight: 600;
	border-bottom: 1px solid $concrete;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
	.num_sett h1 {
		font-size: 70px;
		float: none;
		text-align: center;
	}
	.num_sett span {
		font-size: 16px;
		float: none;
		text-align: center;
	}
	.bodr_lft {
		border-right: none;
	}
	.progress1 {
		display: none;
	}
	.tab_str {
		width: 100%;
	}
	.star_border {
		width: 100%;
	}
	.float-right {
		float: none;
	}
}

#overview {
	.section_overtopsect {
		margin-top: 15px;
		h4.head_section_font {
			padding: 10px 0 0 10px;
		}
		h4.head_section_font + hr {
			width: 97%;
			margin-bottom: 0;
		}
		.te_deco hr {
			width: 97%;
		}
	}
}

#jobs.tab-pane > .section_rview_back_color05 {
	background-color: $white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 2px 4px 0 rgba(0, 0, 0, 0.12);
	margin-top: 15px;
}

.ava_job {
	padding-bottom: 12px;
}

/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
	width: 100%;
}

.CircularProgressbar {
	.CircularProgressbar-path {
		stroke: #3e98c7;
		stroke-linecap: round;
		transition: stroke-dashoffset 0.5s ease 0s;
	}

	.CircularProgressbar-trail {
		stroke: #d6d6d6;
	}

	.CircularProgressbar-text {
		fill: #3e98c7;
		font-size: 20px;
		text-anchor: middle;
	}

	.CircularProgressbar-background {
		fill: #d6d6d6;
	}

	&.CircularProgressbar-inverted {
		.CircularProgressbar-text {
			fill: $white;
		}

		.CircularProgressbar-path {
			stroke: $white;
		}

		.CircularProgressbar-trail {
			stroke: transparent;
		}
	}
}
