.companies-btn {
	margin-top: 50px;
	color: #222;
	font-weight: 300;
}

.out-bodr {
	color: $white;
	background-color: transparent;
	background-image: none;
	border-color: $white !important;

	&:hover {
		color: $white;
		background-color: $outerSpace;
		border-color: $outerSpace;
	}
}

.panel {
	&-hm {
		width: 300px;
		margin: 20px;
		position: relative;
		display: inline-block;
		-webkit-perspective: 600px;
		-moz-perspective: 600px;
		padding: 10px;

		.pad {
			padding: 0 15px;
		}

		.action {
			display: none;
		}

		.front {
			z-index: 900;
			height: inherit;
			background: $white;
			@include box-shadow(0, 1px, 15px, rgba(0, 0, 0, 0.1));
			@include rotate(0deg);
			@include transition(all 0.4s ease-in-out);
			padding-bottom: 24px;
			padding-top: 24px;
		}

		&.flip {
			z-index: 1000;
			background: $white;
			@include rotate(0deg);
			@include box-shadow(0, 15px, 50px, rgba(0, 0, 0, 0.1));
			.front {
				z-index: 900;
				background: $white;
				@include rotate(180deg);
				@include box-shadow(0, 15px, 50px, rgba(0, 0, 0, 0.1));
			}
		}
	}
}

.frontTitle {
	text-align: center;
	font-size: 27px;
	color: $black;
	height: 79px;
	line-height: 23px;
	font-weight: bold;
	padding: 10px 8px 0 8px;
}

.frontLogo {
	height: 200px;
	width: auto;
	background-repeat: no-repeat;
	background-position: center center;
}

.frontLocation {
	padding-top: 10px;
	text-align: center;
	color: #191818;
	font-size: 18px;
	padding-left: 8px;
	padding-right: 8px;
}

.fl-ri-re button {
	padding: 8px 19px;
	font-weight: 800;
	background-color: $primary-color;
	color: $white;
	font-size: 19px;
	&:hover {
		background-color: #3d7ba5;
	}
}

@media screen and (min-width: 992px) {
	.container.mobile-view-box {
		display: none;
	}

	.blu-mobile-sect {
		display: none;
	}
}
