$base-height: 377px;
$base-dimension: 16px;
$base-border-radius: 12px;
$base-button-size: 52px;
$primary-color: #0360a5;
$accent-color: #f6f7f9;
$background-color: #fff;
$font-color: #888;

@mixin chabox-container {
	display: flex;
	position: absolute;
	box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
	flex-direction: column;
}

@mixin chatbox-header {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: $base-dimension;
	color: $background-color;
	background-color: $primary-color;
	align-items: center;
	justify-content: space-around;
}

@mixin chatbox-main {
	box-sizing: border-box;
	width: 100%;
	padding: calc(2 * #{$base-dimension}) #{$base-dimension};
	line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
	color: $font-color;
	text-align: center;
}

@mixin chatbox-footer {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	padding: $base-dimension;
	border-top: 1px solid #ddd;
	align-items: center;
	justify-content: space-around;
}

@mixin chatbox-floating-button {
	position: fixed;
	bottom: 0;
	right: 0;
	width: $base-button-size;
	height: $base-button-size;
	color: $background-color;
	background-color: $primary-color;
	background-position: center center;
	background-repeat: no-repeat;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.15);
	border: 0;
	border-radius: 50%;
	cursor: pointer;
}

.container.login-top-spce {
	padding-top: 112px;
}

.input-group .icon-addon .form-control {
	border-radius: 0;
}

.icon-addon {
	position: relative;
	color: #555;
	display: block;
}

.icon-addon:after,
.icon-addon:before {
	display: table;
	content: " ";
}

.icon-addon:after {
	clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon,
.icon-addon.addon-md .fa,
.icon-addon .fa {
	position: absolute;
	left: 10px;
	top: 10px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
	padding-left: 30px;
	float: left;
	font-weight: normal;
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
	color: #2580db;
}

.register-login-form {
	.form-control {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.428571429;
		color: #555;
		background-color: $white;
		background-image: none;
		border: 0px solid #ccc;
		border-radius: 0px;

		-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.075);

		&:focus {
			border-bottom: 1px solid #439bd5 !important;
		}

		&:hover {
			border-bottom: 1px solid #439bd5 !important;
		}
	}
}

a.button.out-bodr-get1 {
	background-color: #439bd5;
	color: $white;
	font-size: 33px;
	font-family: initial;
	border: 1px solid #87bcdf !important;
	margin-top: 42px;

	&:hover {
		background-color: #7bb3d6;
	}
}

.employer-btn-get {
	margin-top: 50px;
	color: #222;
	font-weight: 300;
}

a.employer-btn {
	text-decoration: none;
}

a.worker-btn {
	text-decoration: none;
}

.register-login-form .input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #bdb9b9;
	outline: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.register-login-form .input-group-addon:first-child {
	border-right: 0;
	border: none;
	border-bottom: 1px solid #bdb9b9;
	background-color: $white;
}

.login-link-cs {
	a {
		font-size: 17px;
		font-weight: 700;
	}
}

.panel-heading.p-head {
	padding-bottom: 30px !important;
	padding: 0px 0px !important;
}

.top-head-employer {
	font-size: 32px;
}

.top-head-worker {
	font-size: 32px;
}

.form-control.pwd-line {
	width: 66% !important;
}

.reg {
	font-size: 16px;
	font-weight: 700;
}

.btn {
	&-emp,
	&-work {
		width: 50%;
		text-align: center;
	}

	&-emp {
		background-color: $concrete;
		float: left;
	}

	&-work {
		background-color: bisque;
		float: right;
	}
}

#register-form {
	.role {
		width: 50%;
		background-color: #f3f3f3;
		font-family: initial;
		color: #000;
		font-size: 26px;
		text-align: center;
		font-weight: normal;
		cursor: pointer;

		input {
			display: none;
		}
	}

	.selected-role {
		background-color: #dcdada;
	}

	&-link {
		width: 100%;
		background-color: #f3f3f3;
		font-family: initial;
		color: #000;
		font-size: 26px;
		border-right: 1px solid;
	}
}

.enterTriggers {
	background-color: #2079b5;
	color: white;
	padding: 10px 27px;
	text-align: center;
	font-size: 15px;
}

a.button.out-bodr-login:hover {
	background-color: #48acef;
}

.login-fm {
	.input-group {
		&-addon:first-child {
			border-right: 0;
			border: none;
			border-bottom: 1px solid #bdb9b9;
			background-color: $white;
		}

		.form-control {
			position: relative;
			z-index: 2;
			float: left;
			margin-bottom: 0;
			border-bottom: 1px solid #bdb9b9;
			outline: none;
			display: block;
			width: 100%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.428571429;
			color: #555;
			background-color: $white;
			background-image: none;
			border: 0px solid #ccc;
			border-radius: 0px;
			-webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 -1px 0px rgba(0, 0, 0, 0.075);

			&:focus,
			&:hover {
				border-bottom: 1px solid #439bd5 !important;
			}
		}
	}
}

a.button.out-bodr-login {
	background-color: #439bd5;
	color: $white;
	font-size: 33px;
	border: 1px solid #87bcdf !important;
	margin-bottom: 15px;
	padding-left: 2em;
	padding-right: 2em;
	font-family: initial;
	margin-top: 55px;
}

button {
	color: inherit;
	background-color: transparent;
	border: 0;
	outline: 0 !important;
	cursor: pointer;

	&.chatbox-open {
		@include chatbox-floating-button;
		margin: $base-dimension;
	}

	&.chatbox-close {
		@include chatbox-floating-button;
		display: none;
		margin: $base-dimension
			calc(2 * #{$base-dimension} + #{$base-button-size}) $base-dimension
			$base-dimension;
	}
}

textarea {
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	height: calc(#{$base-dimension} + #{$base-dimension} / 2);
	padding: 0 calc(#{$base-dimension} / 2);
	font-family: inherit;
	font-size: $base-dimension;
	line-height: calc(#{$base-dimension} + #{$base-dimension} / 2);
	color: $font-color;
	background-color: white;
	border: 0;
	outline: 0 !important;
	resize: none;
	overflow: hidden;

	&::placeholder {
		color: $font-color;
	}
}

.chatbox-popup {
	@include chabox-container;
	display: none;
	bottom: calc(2 * #{$base-dimension} + #{$base-button-size});
	right: $base-dimension;
	width: $base-height;
	height: auto;
	background-color: $white;
	border-radius: $base-dimension;
	position: fixed;

	.chatbox-popup__main {
		@include chatbox-main;
	}

	.chatbox-popup__footer {
		@include chatbox-footer;
		border-bottom-right-radius: $base-border-radius;
		border-bottom-left-radius: $base-border-radius;
	}
}
