.review-submitted {
	margin-top: 250px;
	margin-bottom: 250px;

	.container {
		padding: 50px;
	}

	h2 {
		font-weight: bold;
	}

	p {
		color: black;
		text-align: center;
		& + p {
			margin-bottom: 10px;
		}
		&:first-child {
			margin-top: 10px;
		}
	}
	.congratulations {
		text-align: center;
		margin-bottom: 30px;

		&-gif {
			background-image: url(images/rewarding.gif);
			height: 300px;
			clear: left;
			background-size: 420px 320px;
			background-repeat: no-repeat;
			background-position: 50%;
		}
		p {
			font-size: 1.3em;
		}
	}

	.rewards {
		display: flex;
		justify-content: center;
		text-align: center;
		flex-wrap: wrap;
		.reward {
			width: 22%;
			border: 1px solid #d4d1d1;
			border-radius: 4px;
			padding: 5px;
			margin: 5px;
			margin-top: 15px;
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.reward-visual {
				position: relative;

				img {
					text-align: center;
					display: block;
					border-radius: 50%;
					border: 1px solid #d4d1d1;
					padding: 5px;
					margin: auto;
					margin-top: 5px;
					margin-bottom: 15px;
				}

				p {
					position: absolute;
					color: white;
					background: $vize-blue;
					border-radius: 100%;
					padding: 5px;
					font-weight: bold;
					top: 1px;
					right: 55px;
					display: block;
					width: 35px;
					border: 1px solid #d4d1d1;
				}
			}

			p {
				padding: 2px;
				margin-bottom: 20px;
			}

			a {
				font-weight: bold;
				padding: 15px;
				margin: 10px;
				border: 1px solid #d4d1d1;
				border-radius: 4px;
				display: block;
				&:hover {
					border: 1px solid rgba(0, 0, 0, 0.8);
					cursor: pointer;
				}
			}
		}
	}
}

// modal inner markup styling
.ReactModalPortal {
	.ReactModal__Content.ReactModal__Content--after-open {
		width: 60%;
		max-width: 550px;
		height: 200px;
	}
	form {
		input[type="tel"] {
			width: 100%;
			padding: 2px;
		}
		input[type="submit"] {
			float: right;
			margin-top: 5px;
			padding: 5px;
			padding-left: 15px;
			padding-right: 15px;
			background-color: $vize-blue;
			border: 1px solid #d4d1d1;
			outline: none;
			color: white;
			font-weight: bolder;
		}
	}
}
