.button {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.9rem 3.75rem;
	font-size: 2rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

	&:focus,
	&:active {
		text-decoration: none;
	}

	&.out-bodr {
		&:focus,
		&:active {
			color: $white;
		}
	}

	&.out-butt-dark {
		color: $outerSpace;
		background-color: transparent;
		background-image: none;
		border-color: $outerSpace;

		&:hover {
			color: $white;
			background-color: $outerSpace;
		}
	}
}
