// variables

//fonts
@font-face {
	font-family: "Lato";
	src: url(../fonts/Lato-Light.woff) format("truetype");
}

@font-face {
	font-family: "Lato-Light";
	src: url(../fonts/Lato-Light.woff) format("truetype");
}

$lato: "Lato";
$lato-light: "Lato-Light";

//colors
$white: #fff;
$primary-color: #439bd5;
$secondary-color:#fb406f;
$black: #000;
