// VENDORS
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css");

// BASE
@import "base/variables", "base/mixins", "base/fonts", "base/reset";

// SHARED
@import "shared/full-width-container", "shared/star", "shared/spinner";

// Pages
@import "pages/company-profile", "pages/for-employers", "pages/home",
	"pages/resources", "pages/review-profile", "pages/about",
	"pages/search-companies", "pages/login-register", "pages/review-submitted";

// Components
@import "components/banner", "components/dropdown", "components/forms",
	"components/post-job", "components/profile", "components/companies-search",
	"components/review-form", "components/header",
	"components/react-phone-number-input";

// Responsive
@import "responsive/_desktop-and-down", "responsive/tablet-landscape-and-down",
	"responsive/tablet-and-down", "responsive/phones-only";

// helpers
@import "helpers/spacing-helpers", "helpers/display-helpers",
	"helpers/text-helpers";
